<a href="https://colab.research.google.com/github/Al3jandraMtz/Proyecto6--ETL/blob/main/P6_ETL_Exploraci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##PreparaciÃ³n de la base de datos

1.- Identificar nulos

In [2]:
#Cargar DataFrame
import pandas as pd
df =pd.read_csv('/content/superstore.csv')

In [3]:
#Nulos
nulos_por_columna = df.isnull().sum()
print(nulos_por_columna)

category          0
city              0
country           0
customer_ID       0
customer_name     0
discount          0
market            0
unknown           0
order_date        0
order_id          0
order_priority    0
product_id        0
product_name      0
profit            0
quantity          0
region            0
row_id            0
sales             0
segment           0
ship_date         0
ship_mode         0
shipping_cost     0
state             0
sub_category      0
year              0
market2           0
weeknum           0
dtype: int64

In [4]:
columnas_con_nulos = nulos_por_columna[nulos_por_columna > 0]
print(columnas_con_nulos)

Series([], dtype: int64)

In [5]:
filas_con_nulos = df[df.isnull().any(axis=1)]
print(filas_con_nulos)

Empty DataFrame
Columns: [category, city, country, customer_ID, customer_name, discount, market, unknown, order_date, order_id, order_priority, product_id, product_name, profit, quantity, region, row_id, sales, segment, ship_date, ship_mode, shipping_cost, state, sub_category, year, market2, weeknum]
Index: []

[0 rows x 27 columns]

2.- Duplicados

In [6]:
#Duplicados
# Duplicados en 'product_id'
duplicates_product_id = df[df.duplicated(subset='product_id', keep=False)]
print("Duplicados en product_id:")
print(duplicates_product_id)

# Duplicados en 'customer_id'
duplicates_customer_id = df[df.duplicated(subset='customer_ID', keep=False)]
print("Duplicados en customer_id:")
print(duplicates_customer_id)

# Duplicados en 'row_id'
duplicates_row_id = df[df.duplicated(subset='row_id', keep=False)]
print("Duplicados en row_id:")
print(duplicates_row_id)

# Duplicados en 'order_id'
duplicates_order_id = df[df.duplicated(subset='order_id', keep=False)]
print("Duplicados en order_id:")
print(duplicates_order_id)

# Duplicados en 'order_date'
duplicates_order_date = df[df.duplicated(subset='order_date', keep=False)]
print("Duplicados en order_date:")
print(duplicates_order_date)

# Duplicados en 'ship_date'
duplicates_ship_date = df[df.duplicated(subset='ship_date', keep=False)]
print("Duplicados en ship_date:")
print(duplicates_ship_date)

# Duplicados en 'market2'
duplicates_market2 = df[df.duplicated(subset='market2', keep=False)]
print("Duplicados en market2:")
print(duplicates_market2)

Duplicados en product_id:
              category         city        country customer_ID  \
0      Office Supplies  Los Angeles  United States   LS-172304
1      Office Supplies  Los Angeles  United States   MV-174854
2      Office Supplies  Los Angeles  United States   CS-121304
3      Office Supplies  Los Angeles  United States   CS-121304
4      Office Supplies  Los Angeles  United States   AP-109154
...                ...          ...            ...         ...
51285  Office Supplies  Los Angeles  United States   AM-103604
51286  Office Supplies  Los Angeles  United States   AM-103604
51287  Office Supplies  Los Angeles  United States   HR-147704
51288  Office Supplies  Los Angeles  United States   RM-196754
51289  Office Supplies  Los Angeles  United States   FH-143654

          customer_name  discount market  unknown          order_date  \
0      Lycoris Saunders       0.0     US        1  2011-01-07 0:00:00
1         Mark Van Huff       0.0     US        1  2011-01-21 0:00:00
2          Chad Sievert       0.0     US        1  2011-08-05 0:00:00
3          Chad Sievert       0.0     US        1  2011-08-05 0:00:00
4        Arthur Prichep       0.0     US        1  2011-09-29 0:00:00
...                 ...       ...    ...      ...                 ...
51285    Alice McCarthy       0.2     US        1  2014-12-03 0:00:00
51286    Alice McCarthy       0.2     US        1  2014-12-03 0:00:00
51287    Hallie Redmond       0.2     US        1  2014-12-18 0:00:00
51288     Robert Marley       0.2     US        1  2014-12-25 0:00:00
51289      Fred Hopkins       0.2     US        1  2014-12-26 0:00:00

             order_id  ... sales      segment           ship_date  \
0      CA-2011-130813  ...    19     Consumer  2011-01-09 0:00:00
1      CA-2011-148614  ...    19     Consumer  2011-01-26 0:00:00
2      CA-2011-118962  ...    21     Consumer  2011-08-09 0:00:00
3      CA-2011-118962  ...   111     Consumer  2011-08-09 0:00:00
4      CA-2011-146969  ...     6     Consumer  2011-10-03 0:00:00
...               ...  ...   ...          ...                 ...
51285  CA-2014-109701  ...    69    Corporate  2014-12-04 0:00:00
51286  CA-2014-109701  ...     9    Corporate  2014-12-04 0:00:00
51287  CA-2014-106964  ...    12  Home Office  2014-12-21 0:00:00
51288  CA-2014-145219  ...    90  Home Office  2014-12-26 0:00:00
51289  CA-2014-121398  ...   154    Corporate  2014-12-30 0:00:00

            ship_mode  shipping_cost       state  sub_category  year  \
0        Second Class           4.37  California         Paper  2011
1      Standard Class           0.94  California         Paper  2011
2      Standard Class           1.81  California         Paper  2011
3      Standard Class           4.59  California         Paper  2011
4      Standard Class           1.32  California         Paper  2011
...               ...            ...         ...           ...   ...
51285        Same Day           5.15  California       Binders  2014
51286        Same Day           0.44  California       Binders  2014
51287     First Class           0.31  California       Binders  2014
51288     First Class          15.95  California       Binders  2014
51289  Standard Class           9.59  California       Binders  2014

             market2 weeknum
0      North America       2
1      North America       4
2      North America      32
3      North America      32
4      North America      40
...              ...     ...
51285  North America      49
51286  North America      49
51287  North America      51
51288  North America      52
51289  North America      52

[49870 rows x 27 columns]
Duplicados en customer_id:
              category         city        country customer_ID  \
0      Office Supplies  Los Angeles  United States   LS-172304
1      Office Supplies  Los Angeles  United States   MV-174854
2      Office Supplies  Los Angeles  United States   CS-121304
3      Office Supplies  Los Angeles  United States   CS-121304
4      Office Supplies  Los Angeles  United States   AP-109154
...                ...          ...            ...         ...
51285  Office Supplies  Los Angeles  United States   AM-103604
51286  Office Supplies  Los Angeles  United States   AM-103604
51287  Office Supplies  Los Angeles  United States   HR-147704
51288  Office Supplies  Los Angeles  United States   RM-196754
51289  Office Supplies  Los Angeles  United States   FH-143654

          customer_name  discount market  unknown          order_date  \
0      Lycoris Saunders       0.0     US        1  2011-01-07 0:00:00
1         Mark Van Huff       0.0     US        1  2011-01-21 0:00:00
2          Chad Sievert       0.0     US        1  2011-08-05 0:00:00
3          Chad Sievert       0.0     US        1  2011-08-05 0:00:00
4        Arthur Prichep       0.0     US        1  2011-09-29 0:00:00
...                 ...       ...    ...      ...                 ...
51285    Alice McCarthy       0.2     US        1  2014-12-03 0:00:00
51286    Alice McCarthy       0.2     US        1  2014-12-03 0:00:00
51287    Hallie Redmond       0.2     US        1  2014-12-18 0:00:00
51288     Robert Marley       0.2     US        1  2014-12-25 0:00:00
51289      Fred Hopkins       0.2     US        1  2014-12-26 0:00:00

             order_id  ... sales      segment           ship_date  \
0      CA-2011-130813  ...    19     Consumer  2011-01-09 0:00:00
1      CA-2011-148614  ...    19     Consumer  2011-01-26 0:00:00
2      CA-2011-118962  ...    21     Consumer  2011-08-09 0:00:00
3      CA-2011-118962  ...   111     Consumer  2011-08-09 0:00:00
4      CA-2011-146969  ...     6     Consumer  2011-10-03 0:00:00
...               ...  ...   ...          ...                 ...
51285  CA-2014-109701  ...    69    Corporate  2014-12-04 0:00:00
51286  CA-2014-109701  ...     9    Corporate  2014-12-04 0:00:00
51287  CA-2014-106964  ...    12  Home Office  2014-12-21 0:00:00
51288  CA-2014-145219  ...    90  Home Office  2014-12-26 0:00:00
51289  CA-2014-121398  ...   154    Corporate  2014-12-30 0:00:00

            ship_mode  shipping_cost       state  sub_category  year  \
0        Second Class           4.37  California         Paper  2011
1      Standard Class           0.94  California         Paper  2011
2      Standard Class           1.81  California         Paper  2011
3      Standard Class           4.59  California         Paper  2011
4      Standard Class           1.32  California         Paper  2011
...               ...            ...         ...           ...   ...
51285        Same Day           5.15  California       Binders  2014
51286        Same Day           0.44  California       Binders  2014
51287     First Class           0.31  California       Binders  2014
51288     First Class          15.95  California       Binders  2014
51289  Standard Class           9.59  California       Binders  2014

             market2 weeknum
0      North America       2
1      North America       4
2      North America      32
3      North America      32
4      North America      40
...              ...     ...
51285  North America      49
51286  North America      49
51287  North America      51
51288  North America      52
51289  North America      52

[51091 rows x 27 columns]
Duplicados en row_id:
Empty DataFrame
Columns: [category, city, country, customer_ID, customer_name, discount, market, unknown, order_date, order_id, order_priority, product_id, product_name, profit, quantity, region, row_id, sales, segment, ship_date, ship_mode, shipping_cost, state, sub_category, year, market2, weeknum]
Index: []

[0 rows x 27 columns]
Duplicados en order_id:
              category         city        country customer_ID  \
1      Office Supplies  Los Angeles  United States   MV-174854
2      Office Supplies  Los Angeles  United States   CS-121304
3      Office Supplies  Los Angeles  United States   CS-121304
4      Office Supplies  Los Angeles  United States   AP-109154
6      Office Supplies  Los Angeles  United States   WB-218504
...                ...          ...            ...         ...
51284  Office Supplies  Los Angeles  United States   CC-125504
51285  Office Supplies  Los Angeles  United States   AM-103604
51286  Office Supplies  Los Angeles  United States   AM-103604
51288  Office Supplies  Los Angeles  United States   RM-196754
51289  Office Supplies  Los Angeles  United States   FH-143654

        customer_name  discount market  unknown          order_date  \
1       Mark Van Huff       0.0     US        1  2011-01-21 0:00:00
2        Chad Sievert       0.0     US        1  2011-08-05 0:00:00
3        Chad Sievert       0.0     US        1  2011-08-05 0:00:00
4      Arthur Prichep       0.0     US        1  2011-09-29 0:00:00
6       William Brown       0.0     US        1  2011-11-04 0:00:00
...               ...       ...    ...      ...                 ...
51284   Clay Cheatham       0.2     US        1  2014-12-02 0:00:00
51285  Alice McCarthy       0.2     US        1  2014-12-03 0:00:00
51286  Alice McCarthy       0.2     US        1  2014-12-03 0:00:00
51288   Robert Marley       0.2     US        1  2014-12-25 0:00:00
51289    Fred Hopkins       0.2     US        1  2014-12-26 0:00:00

             order_id  ... sales      segment           ship_date  \
1      CA-2011-148614  ...    19     Consumer  2011-01-26 0:00:00
2      CA-2011-118962  ...    21     Consumer  2011-08-09 0:00:00
3      CA-2011-118962  ...   111     Consumer  2011-08-09 0:00:00
4      CA-2011-146969  ...     6     Consumer  2011-10-03 0:00:00
6      CA-2011-125829  ...    19     Consumer  2011-11-11 0:00:00
...               ...  ...   ...          ...                 ...
51284  CA-2014-118542  ...    10     Consumer  2014-12-06 0:00:00
51285  CA-2014-109701  ...    69    Corporate  2014-12-04 0:00:00
51286  CA-2014-109701  ...     9    Corporate  2014-12-04 0:00:00
51288  CA-2014-145219  ...    90  Home Office  2014-12-26 0:00:00
51289  CA-2014-121398  ...   154    Corporate  2014-12-30 0:00:00

            ship_mode  shipping_cost       state  sub_category  year  \
1      Standard Class           0.94  California         Paper  2011
2      Standard Class           1.81  California         Paper  2011
3      Standard Class           4.59  California         Paper  2011
4      Standard Class           1.32  California         Paper  2011
6      Standard Class           1.15  California         Paper  2011
...               ...            ...         ...           ...   ...
51284  Standard Class           0.83  California       Binders  2014
51285        Same Day           5.15  California       Binders  2014
51286        Same Day           0.44  California       Binders  2014
51288     First Class          15.95  California       Binders  2014
51289  Standard Class           9.59  California       Binders  2014

             market2 weeknum
1      North America       4
2      North America      32
3      North America      32
4      North America      40
6      North America      45
...              ...     ...
51284  North America      49
51285  North America      49
51286  North America      49
51288  North America      52
51289  North America      52

[39033 rows x 27 columns]
Duplicados en order_date:
              category         city        country customer_ID  \
0      Office Supplies  Los Angeles  United States   LS-172304
1      Office Supplies  Los Angeles  United States   MV-174854
2      Office Supplies  Los Angeles  United States   CS-121304
3      Office Supplies  Los Angeles  United States   CS-121304
4      Office Supplies  Los Angeles  United States   AP-109154
...                ...          ...            ...         ...
51285  Office Supplies  Los Angeles  United States   AM-103604
51286  Office Supplies  Los Angeles  United States   AM-103604
51287  Office Supplies  Los Angeles  United States   HR-147704
51288  Office Supplies  Los Angeles  United States   RM-196754
51289  Office Supplies  Los Angeles  United States   FH-143654

          customer_name  discount market  unknown          order_date  \
0      Lycoris Saunders       0.0     US        1  2011-01-07 0:00:00
1         Mark Van Huff       0.0     US        1  2011-01-21 0:00:00
2          Chad Sievert       0.0     US        1  2011-08-05 0:00:00
3          Chad Sievert       0.0     US        1  2011-08-05 0:00:00
4        Arthur Prichep       0.0     US        1  2011-09-29 0:00:00
...                 ...       ...    ...      ...                 ...
51285    Alice McCarthy       0.2     US        1  2014-12-03 0:00:00
51286    Alice McCarthy       0.2     US        1  2014-12-03 0:00:00
51287    Hallie Redmond       0.2     US        1  2014-12-18 0:00:00
51288     Robert Marley       0.2     US        1  2014-12-25 0:00:00
51289      Fred Hopkins       0.2     US        1  2014-12-26 0:00:00

             order_id  ... sales      segment           ship_date  \
0      CA-2011-130813  ...    19     Consumer  2011-01-09 0:00:00
1      CA-2011-148614  ...    19     Consumer  2011-01-26 0:00:00
2      CA-2011-118962  ...    21     Consumer  2011-08-09 0:00:00
3      CA-2011-118962  ...   111     Consumer  2011-08-09 0:00:00
4      CA-2011-146969  ...     6     Consumer  2011-10-03 0:00:00
...               ...  ...   ...          ...                 ...
51285  CA-2014-109701  ...    69    Corporate  2014-12-04 0:00:00
51286  CA-2014-109701  ...     9    Corporate  2014-12-04 0:00:00
51287  CA-2014-106964  ...    12  Home Office  2014-12-21 0:00:00
51288  CA-2014-145219  ...    90  Home Office  2014-12-26 0:00:00
51289  CA-2014-121398  ...   154    Corporate  2014-12-30 0:00:00

            ship_mode  shipping_cost       state  sub_category  year  \
0        Second Class           4.37  California         Paper  2011
1      Standard Class           0.94  California         Paper  2011
2      Standard Class           1.81  California         Paper  2011
3      Standard Class           4.59  California         Paper  2011
4      Standard Class           1.32  California         Paper  2011
...               ...            ...         ...           ...   ...
51285        Same Day           5.15  California       Binders  2014
51286        Same Day           0.44  California       Binders  2014
51287     First Class           0.31  California       Binders  2014
51288     First Class          15.95  California       Binders  2014
51289  Standard Class           9.59  California       Binders  2014

             market2 weeknum
0      North America       2
1      North America       4
2      North America      32
3      North America      32
4      North America      40
...              ...     ...
51285  North America      49
51286  North America      49
51287  North America      51
51288  North America      52
51289  North America      52

[51264 rows x 27 columns]
Duplicados en ship_date:
              category         city        country customer_ID  \
0      Office Supplies  Los Angeles  United States   LS-172304
1      Office Supplies  Los Angeles  United States   MV-174854
2      Office Supplies  Los Angeles  United States   CS-121304
3      Office Supplies  Los Angeles  United States   CS-121304
4      Office Supplies  Los Angeles  United States   AP-109154
...                ...          ...            ...         ...
51285  Office Supplies  Los Angeles  United States   AM-103604
51286  Office Supplies  Los Angeles  United States   AM-103604
51287  Office Supplies  Los Angeles  United States   HR-147704
51288  Office Supplies  Los Angeles  United States   RM-196754
51289  Office Supplies  Los Angeles  United States   FH-143654

          customer_name  discount market  unknown          order_date  \
0      Lycoris Saunders       0.0     US        1  2011-01-07 0:00:00
1         Mark Van Huff       0.0     US        1  2011-01-21 0:00:00
2          Chad Sievert       0.0     US        1  2011-08-05 0:00:00
3          Chad Sievert       0.0     US        1  2011-08-05 0:00:00
4        Arthur Prichep       0.0     US        1  2011-09-29 0:00:00
...                 ...       ...    ...      ...                 ...
51285    Alice McCarthy       0.2     US        1  2014-12-03 0:00:00
51286    Alice McCarthy       0.2     US        1  2014-12-03 0:00:00
51287    Hallie Redmond       0.2     US        1  2014-12-18 0:00:00
51288     Robert Marley       0.2     US        1  2014-12-25 0:00:00
51289      Fred Hopkins       0.2     US        1  2014-12-26 0:00:00

             order_id  ... sales      segment           ship_date  \
0      CA-2011-130813  ...    19     Consumer  2011-01-09 0:00:00
1      CA-2011-148614  ...    19     Consumer  2011-01-26 0:00:00
2      CA-2011-118962  ...    21     Consumer  2011-08-09 0:00:00
3      CA-2011-118962  ...   111     Consumer  2011-08-09 0:00:00
4      CA-2011-146969  ...     6     Consumer  2011-10-03 0:00:00
...               ...  ...   ...          ...                 ...
51285  CA-2014-109701  ...    69    Corporate  2014-12-04 0:00:00
51286  CA-2014-109701  ...     9    Corporate  2014-12-04 0:00:00
51287  CA-2014-106964  ...    12  Home Office  2014-12-21 0:00:00
51288  CA-2014-145219  ...    90  Home Office  2014-12-26 0:00:00
51289  CA-2014-121398  ...   154    Corporate  2014-12-30 0:00:00

            ship_mode  shipping_cost       state  sub_category  year  \
0        Second Class           4.37  California         Paper  2011
1      Standard Class           0.94  California         Paper  2011
2      Standard Class           1.81  California         Paper  2011
3      Standard Class           4.59  California         Paper  2011
4      Standard Class           1.32  California         Paper  2011
...               ...            ...         ...           ...   ...
51285        Same Day           5.15  California       Binders  2014
51286        Same Day           0.44  California       Binders  2014
51287     First Class           0.31  California       Binders  2014
51288     First Class          15.95  California       Binders  2014
51289  Standard Class           9.59  California       Binders  2014

             market2 weeknum
0      North America       2
1      North America       4
2      North America      32
3      North America      32
4      North America      40
...              ...     ...
51285  North America      49
51286  North America      49
51287  North America      51
51288  North America      52
51289  North America      52

[51290 rows x 27 columns]
Duplicados en market2:
              category         city        country customer_ID  \
0      Office Supplies  Los Angeles  United States   LS-172304
1      Office Supplies  Los Angeles  United States   MV-174854
2      Office Supplies  Los Angeles  United States   CS-121304
3      Office Supplies  Los Angeles  United States   CS-121304
4      Office Supplies  Los Angeles  United States   AP-109154
...                ...          ...            ...         ...
51285  Office Supplies  Los Angeles  United States   AM-103604
51286  Office Supplies  Los Angeles  United States   AM-103604
51287  Office Supplies  Los Angeles  United States   HR-147704
51288  Office Supplies  Los Angeles  United States   RM-196754
51289  Office Supplies  Los Angeles  United States   FH-143654

          customer_name  discount market  unknown          order_date  \
0      Lycoris Saunders       0.0     US        1  2011-01-07 0:00:00
1         Mark Van Huff       0.0     US        1  2011-01-21 0:00:00
2          Chad Sievert       0.0     US        1  2011-08-05 0:00:00
3          Chad Sievert       0.0     US        1  2011-08-05 0:00:00
4        Arthur Prichep       0.0     US        1  2011-09-29 0:00:00
...                 ...       ...    ...      ...                 ...
51285    Alice McCarthy       0.2     US        1  2014-12-03 0:00:00
51286    Alice McCarthy       0.2     US        1  2014-12-03 0:00:00
51287    Hallie Redmond       0.2     US        1  2014-12-18 0:00:00

In [7]:
# Encontrar todas las filas duplicadas en el DataFrame
duplicated_rows = df[df.duplicated(keep=False)]
print("Filas completamente duplicadas:")
print(duplicated_rows)

Filas completamente duplicadas:
Empty DataFrame
Columns: [category, city, country, customer_ID, customer_name, discount, market, unknown, order_date, order_id, order_priority, product_id, product_name, profit, quantity, region, row_id, sales, segment, ship_date, ship_mode, shipping_cost, state, sub_category, year, market2, weeknum]
Index: []

[0 rows x 27 columns]

In [8]:
# Contar duplicados en 'product_id'
product_id_counts = df['product_id'].value_counts()
duplicated_product_ids = product_id_counts[product_id_counts > 1]
print("Conteo de duplicados en product_id:")
print(duplicated_product_ids)

# Contar duplicados en 'customer_id'
customer_id_counts = df['customer_ID'].value_counts()
duplicated_customer_ids = customer_id_counts[customer_id_counts > 1]
print("Conteo de duplicados en customer_id:")
print(duplicated_customer_ids)

# Contar duplicados en 'category'
category_counts = df['category'].value_counts()
duplicated_categorys = category_counts[category_counts > 1]
print("Conteo de duplicados en customer_id:")
print(duplicated_categorys)

# Contar duplicados en 'city'
city_counts = df['city'].value_counts()
duplicated_cities = city_counts[city_counts > 1]
print("Conteo de duplicados en city:")
print(duplicated_cities)

# Contar duplicados en 'country'
country_counts = df['country'].value_counts()
duplicated_countries = country_counts[country_counts > 1]
print("Conteo de duplicados en country:")
print(duplicated_countries)

# Contar duplicados en 'market'
market_counts = df['market'].value_counts()
duplicated_markets = market_counts[market_counts > 1]
print("Conteo de duplicados en market:")
print(duplicated_markets)

#Contar duplicados en "order_id
order_id_counts = df['order_id'].value_counts()
duplicated_order_ids = order_id_counts[order_id_counts > 1]
print("Conteo de duplicados en order_id:")
print(duplicated_order_ids)

# Contar duplicados en "row_id"
row_id_counts = df['row_id'].value_counts()
duplicated_row_ids = row_id_counts[row_id_counts > 1]
print("Conteo de duplicados en row_id:")
print(duplicated_row_ids)

Conteo de duplicados en product_id:
product_id
OFF-AR-10003651     35
OFF-AR-10003829     31
OFF-BI-10002799     30
OFF-BI-10003708     30
FUR-CH-10003354     28
                    ..
FUR-LES-10002613     2
OFF-AP-10002537      2
TEC-MA-10002193      2
FUR-CHR-10001570     2
FUR-TA-10004406      2
Name: count, Length: 8872, dtype: int64
Conteo de duplicados en customer_id:
customer_ID
JG-158051    40
WB-218504    37
BC-111252    37
AF-108701    36
JG-158052    35
             ..
AR-5101       2
LS-72452      2
CM-21602      2
LS-69753      2
BP-11551      2
Name: count, Length: 4674, dtype: int64
Conteo de duplicados en customer_id:
category
Office Supplies    31273
Technology         10141
Furniture           9876
Name: count, dtype: int64
Conteo de duplicados en city:
city
New York City       915
Los Angeles         747
Philadelphia        537
San Francisco       510
Santo Domingo       443
                   ...
Santa Helena          2
Gyula                 2
Gela                  2
Varamin               2
Francisco Morato      2
Name: count, Length: 3148, dtype: int64
Conteo de duplicados en country:
country
United States    9994
Australia        2837
France           2827
Mexico           2644
Germany          2065
                 ...
South Sudan         2
Chad                2
Swaziland           2
Eritrea             2
Bahrain             2
Name: count, Length: 147, dtype: int64
Conteo de duplicados en market:
market
APAC      11002
LATAM     10294
EU        10000
US         9994
EMEA       5029
Africa     4587
Canada      384
Name: count, dtype: int64
Conteo de duplicados en order_id:
order_id
CA-2014-100111     14
IN-2013-42311      13
TO-2014-9950       13
MX-2014-166541     13
NI-2014-8880       13
                   ..
MX-2013-126214      2
IT-2014-4801093     2
IN-2014-73664       2
IN-2011-18854       2
IN-2011-77913       2
Name: count, Length: 12778, dtype: int64
Conteo de duplicados en row_id:
Series([], Name: count, dtype: int64)

In [9]:
# Verificar las columnas del DataFrame
print("Columnas en el DataFrame:", df.columns)

Columnas en el DataFrame: Index(['category', 'city', 'country', 'customer_ID', 'customer_name',
       'discount', 'market', 'unknown', 'order_date', 'order_id',
       'order_priority', 'product_id', 'product_name', 'profit', 'quantity',
       'region', 'row_id', 'sales', 'segment', 'ship_date', 'ship_mode',
       'shipping_cost', 'state', 'sub_category', 'year', 'market2', 'weeknum'],
      dtype='object')

In [10]:
# Total de duplicados por columna
duplicate_counts = {}

# Iterar sobre cada columna en el DataFrame
for column in df.columns:
    # Contar los valores Ãºnicos y sus frecuencias
    counts = df[column].value_counts()
    # Filtrar los valores que aparecen mÃ¡s de una vez y sumar
    duplicate_counts[column] = (counts - 1)[counts > 1].sum()

# Imprimir los resultados
print("Duplicados totales por columna:")
for column, count in duplicate_counts.items():
    print(f"{column}: {count}")

Duplicados totales por columna:
category: 51287
city: 47654
country: 51143
customer_ID: 46417
customer_name: 50495
discount: 51267
market: 51283
unknown: 51289
order_date: 49860
order_id: 26255
order_priority: 51286
product_id: 40998
product_name: 47502
profit: 26715
quantity: 51276
region: 51277
row_id: 0
sales: 49044
segment: 51287
ship_date: 49826
ship_mode: 51286
shipping_cost: 34413
state: 50196
sub_category: 51273
year: 51286
market2: 51284
weeknum: 51237

In [11]:
import pandas as pd

# Diccionario para almacenar los resultados de los conteos de duplicados para cada columna
duplicate_counts = {}

# Lista de columnas a verificar
columns_to_check = [
    'product_id', 'order_id', 'customer_ID', 'row_id', 'product_name',
    'category', 'city', 'country', 'discount', 'market', 'unknown',
    'order_date', 'order_priority', 'profit', 'quantity', 'region',
    'sales', 'segment', 'ship_date', 'ship_mode', 'shipping_cost',
    'state', 'sub_category', 'year', 'market2'
]

# Iterar sobre cada columna para contar duplicados
for column in columns_to_check:
    # Contar las ocurrencias de cada valor
    value_counts = df[column].value_counts()
    # Filtrar los valores que aparecen mÃ¡s de una vez
    duplicate_values = value_counts[value_counts > 1]
    # Sumar el total de duplicados (restar la cantidad de valores para no contar la primera ocurrencia)
    duplicate_counts[column] = duplicate_values.sum() - duplicate_values.count()

# Convertir el diccionario en un DataFrame para un mejor formato de salida
duplicates_df = pd.DataFrame(list(duplicate_counts.items()), columns=['Column', 'Duplicate Count'])

# Ordenar los resultados por nombre de columna
duplicates_df.sort_values(by='Column', inplace=True)

# Mostrar el DataFrame de duplicados
print(duplicates_df)

            Column  Duplicate Count
5         category            51287
6             city            47654
7          country            51143
2      customer_ID            46417
8         discount            51267
9           market            51283
24         market2            51284
11      order_date            49860
1         order_id            26255
12  order_priority            51286
0       product_id            40998
4     product_name            47502
13          profit            26715
14        quantity            51276
15          region            51277
3           row_id                0
16           sales            49044
17         segment            51287
18       ship_date            49826
19       ship_mode            51286
20   shipping_cost            34413
21           state            50196
22    sub_category            51273
10         unknown            51289
23            year            51286

3.- Valores fuera del alcance

In [12]:
#Outliers varibles nÃºmericas
import pandas as pd

# Cargar el DataFrame
df = pd.read_csv('superstore.csv')

# Identificar outliers en una columna numÃ©rica, por ejemplo 'sales'
Q1 = df['sales'].quantile(0.25)
Q3 = df['sales'].quantile(0.75)
IQR = Q3 - Q1

# Definir lÃ­mites para determinar outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filtrar los outliers en la columna 'sales'
outliers_sales = df[(df['sales'] < lower_bound) | (df['sales'] > upper_bound)]
print("Outliers en ventas:")
print(outliers_sales)

Outliers en ventas:
              category         city        country customer_ID  \
196    Office Supplies  Los Angeles  United States   RS-197654
201    Office Supplies  Los Angeles  United States   DE-132554
221    Office Supplies  Los Angeles  United States   PF-192254
226    Office Supplies  Los Angeles  United States   AI-108554
231    Office Supplies  Los Angeles  United States   SC-207254
...                ...          ...            ...         ...
51177       Technology  Los Angeles  United States   BT-115304
51185       Technology  Los Angeles  United States   FA-142304
51256  Office Supplies  Los Angeles  United States   TG-213104
51271  Office Supplies  Los Angeles  United States   WB-218504
51278  Office Supplies  Los Angeles  United States   ES-140204

           customer_name  discount market  unknown          order_date  \
196       Roland Schwarz       0.0     US        1  2011-12-06 0:00:00
201           Deanra Eno       0.0     US        1  2012-04-18 0:00:00
221    Phillip Flathmann       0.0     US        1  2013-11-04 0:00:00
226       Arianne Irving       0.0     US        1  2013-11-11 0:00:00
231    Steven Cartwright       0.0     US        1  2014-03-22 0:00:00
...                  ...       ...    ...      ...                 ...
51177    Bradley Talbott       0.2     US        1  2014-02-27 0:00:00
51185     Frank Atkinson       0.2     US        1  2014-09-25 0:00:00
51256         Toby Gnade       0.2     US        1  2013-11-16 0:00:00
51271      William Brown       0.2     US        1  2014-06-30 0:00:00
51278        Erica Smith       0.2     US        1  2014-09-16 0:00:00

             order_id  ... sales      segment           ship_date  \
196    CA-2011-106726  ...  1261    Corporate  2011-12-08 0:00:00
201    CA-2012-142601  ...   947  Home Office  2012-04-20 0:00:00
221    CA-2013-114972  ...  1101     Consumer  2013-11-07 0:00:00
226    CA-2013-158694  ...   721     Consumer  2013-11-14 0:00:00
231    CA-2014-108539  ...   726     Consumer  2014-03-24 0:00:00
...               ...  ...   ...          ...                 ...
51177  CA-2014-117212  ...   890  Home Office  2014-03-01 0:00:00
51185  CA-2014-122364  ...   859    Corporate  2014-09-30 0:00:00
51256  CA-2013-146633  ...  1017     Consumer  2013-11-18 0:00:00
51271  CA-2014-138149  ...   896     Consumer  2014-07-01 0:00:00
51278  US-2014-163300  ...  2357     Consumer  2014-09-22 0:00:00

            ship_mode  shipping_cost       state  sub_category  year  \
196       First Class         506.49  California       Storage  2011
201      Second Class          36.83  California       Storage  2012
221       First Class         364.76  California    Appliances  2013
226      Second Class         105.59  California       Storage  2013
231      Second Class          58.05  California       Storage  2014
...               ...            ...         ...           ...   ...
51177    Second Class          78.76  California        Phones  2014
51185  Standard Class          73.69  California        Phones  2014
51256    Second Class         363.87  California       Binders  2013
51271     First Class         337.16  California       Binders  2014
51278  Standard Class         173.00  California       Binders  2014

             market2 weeknum
196    North America      50
201    North America      16
221    North America      45
226    North America      46
231    North America      12
...              ...     ...
51177  North America       9
51185  North America      39
51256  North America      46
51271  North America      27
51278  North America      38

[5655 rows x 27 columns]

In [13]:
import pandas as pd

# Variables numÃ©ricas
numerical_columns = ['sales', 'profit']  # Asumiendo que 'sales' y 'profit' son numÃ©ricas

for column in numerical_columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    print(f"Outliers en {column}:")
    print(outliers)

# Variables categÃ³ricas
categorical_columns = ['category', 'city']  # Asumiendo que son categÃ³ricas

for column in categorical_columns:
    category_counts = df[column].value_counts()
    rare_categories = category_counts[category_counts < 0.01 * len(df)]
    print(f"CategorÃ­as raras en {column}:")
    print(rare_categories)

Outliers en sales:
              category         city        country customer_ID  \
196    Office Supplies  Los Angeles  United States   RS-197654
201    Office Supplies  Los Angeles  United States   DE-132554
221    Office Supplies  Los Angeles  United States   PF-192254
226    Office Supplies  Los Angeles  United States   AI-108554
231    Office Supplies  Los Angeles  United States   SC-207254
...                ...          ...            ...         ...
51177       Technology  Los Angeles  United States   BT-115304
51185       Technology  Los Angeles  United States   FA-142304
51256  Office Supplies  Los Angeles  United States   TG-213104
51271  Office Supplies  Los Angeles  United States   WB-218504
51278  Office Supplies  Los Angeles  United States   ES-140204

           customer_name  discount market  unknown          order_date  \
196       Roland Schwarz       0.0     US        1  2011-12-06 0:00:00
201           Deanra Eno       0.0     US        1  2012-04-18 0:00:00
221    Phillip Flathmann       0.0     US        1  2013-11-04 0:00:00
226       Arianne Irving       0.0     US        1  2013-11-11 0:00:00
231    Steven Cartwright       0.0     US        1  2014-03-22 0:00:00
...                  ...       ...    ...      ...                 ...
51177    Bradley Talbott       0.2     US        1  2014-02-27 0:00:00
51185     Frank Atkinson       0.2     US        1  2014-09-25 0:00:00
51256         Toby Gnade       0.2     US        1  2013-11-16 0:00:00
51271      William Brown       0.2     US        1  2014-06-30 0:00:00
51278        Erica Smith       0.2     US        1  2014-09-16 0:00:00

             order_id  ... sales      segment           ship_date  \
196    CA-2011-106726  ...  1261    Corporate  2011-12-08 0:00:00
201    CA-2012-142601  ...   947  Home Office  2012-04-20 0:00:00
221    CA-2013-114972  ...  1101     Consumer  2013-11-07 0:00:00
226    CA-2013-158694  ...   721     Consumer  2013-11-14 0:00:00
231    CA-2014-108539  ...   726     Consumer  2014-03-24 0:00:00
...               ...  ...   ...          ...                 ...
51177  CA-2014-117212  ...   890  Home Office  2014-03-01 0:00:00
51185  CA-2014-122364  ...   859    Corporate  2014-09-30 0:00:00
51256  CA-2013-146633  ...  1017     Consumer  2013-11-18 0:00:00
51271  CA-2014-138149  ...   896     Consumer  2014-07-01 0:00:00
51278  US-2014-163300  ...  2357     Consumer  2014-09-22 0:00:00

            ship_mode  shipping_cost       state  sub_category  year  \
196       First Class         506.49  California       Storage  2011
201      Second Class          36.83  California       Storage  2012
221       First Class         364.76  California    Appliances  2013
226      Second Class         105.59  California       Storage  2013
231      Second Class          58.05  California       Storage  2014
...               ...            ...         ...           ...   ...
51177    Second Class          78.76  California        Phones  2014
51185  Standard Class          73.69  California        Phones  2014
51256    Second Class         363.87  California       Binders  2013
51271     First Class         337.16  California       Binders  2014
51278  Standard Class         173.00  California       Binders  2014

             market2 weeknum
196    North America      50
201    North America      16
221    North America      45
226    North America      46
231    North America      12
...              ...     ...
51177  North America       9
51185  North America      39
51256  North America      46
51271  North America      27
51278  North America      38

[5655 rows x 27 columns]
Outliers en profit:
              category         city        country customer_ID  \
20     Office Supplies  Los Angeles  United States   DP-130004
38     Office Supplies  Los Angeles  United States   MV-181904
46     Office Supplies  Los Angeles  United States   XP-218654
59     Office Supplies  Los Angeles  United States   TT-212204
64     Office Supplies  Los Angeles  United States   DB-136604
...                ...          ...            ...         ...
51258  Office Supplies  Los Angeles  United States   AP-107204
51271  Office Supplies  Los Angeles  United States   WB-218504
51272  Office Supplies  Los Angeles  United States   CT-119954
51276  Office Supplies  Los Angeles  United States   RA-192854
51278  Office Supplies  Los Angeles  United States   ES-140204

         customer_name  discount market  unknown          order_date  \
20       Darren Powers       0.0     US        1  2012-11-24 0:00:00
38      Mike Vittorini       0.0     US        1  2013-06-18 0:00:00
46        Xylona Preis       0.0     US        1  2013-11-04 0:00:00
59     Thomas Thornton       0.0     US        1  2014-07-01 0:00:00
64        Duane Benoit       0.0     US        1  2014-09-24 0:00:00
...                ...       ...    ...      ...                 ...
51258       Anne Pryor       0.2     US        1  2013-12-07 0:00:00
51271    William Brown       0.2     US        1  2014-06-30 0:00:00
51272     Carol Triggs       0.2     US        1  2014-06-30 0:00:00
51276     Ralph Arnett       0.2     US        1  2014-09-05 0:00:00
51278      Erica Smith       0.2     US        1  2014-09-16 0:00:00

             order_id  ... sales      segment           ship_date  \
20     CA-2012-105347  ...   369     Consumer  2012-11-28 0:00:00
38     CA-2013-123512  ...   220     Consumer  2013-06-20 0:00:00
46     CA-2013-109365  ...   315     Consumer  2013-11-09 0:00:00
59     US-2014-113201  ...   205     Consumer  2014-07-06 0:00:00
64     CA-2014-121853  ...   211     Consumer  2014-09-30 0:00:00
...               ...  ...   ...          ...                 ...
51258  US-2013-103674  ...   437  Home Office  2013-12-11 0:00:00
51271  CA-2014-138149  ...   896     Consumer  2014-07-01 0:00:00
51272  CA-2014-137085  ...   313     Consumer  2014-07-07 0:00:00
51276  CA-2014-141929  ...   488     Consumer  2014-09-09 0:00:00
51278  US-2014-163300  ...  2357     Consumer  2014-09-22 0:00:00

            ship_mode  shipping_cost       state  sub_category  year  \
20     Standard Class           6.98  California         Paper  2012
38        First Class          74.66  California         Paper  2013
46     Standard Class          22.15  California         Paper  2013
59     Standard Class          14.98  California         Paper  2014
64     Standard Class          15.64  California         Paper  2014
...               ...            ...         ...           ...   ...
51258  Standard Class          39.51  California       Binders  2013
51271     First Class         337.16  California       Binders  2014
51272  Standard Class          14.47  California       Binders  2014
51276  Standard Class          66.24  California       Binders  2014
51278  Standard Class         173.00  California       Binders  2014

             market2 weeknum
20     North America      47
38     North America      25
46     North America      45
59     North America      27
64     North America      39
...              ...     ...
51258  North America      49
51271  North America      27
51272  North America      27
51276  North America      36
51278  North America      38

[9755 rows x 27 columns]
CategorÃ­as raras en category:
Series([], Name: count, dtype: int64)
CategorÃ­as raras en city:
city
San Francisco            510
Santo Domingo            443
Manila                   432
Seattle                  428
Houston                  377
                        ...
Hadera                     1
Morley                     1
Villeneuve-la-Garenne      1
Torremolinos               1
Redwood City               1
Name: count, Length: 3633, dtype: int64

In [14]:
# Columnas categÃ³ricas
categorical_columns = [
    'category', 'city', 'country', 'customer_name', 'market', 'unknown',
    'order_priority', 'product_name', 'region', 'segment', 'ship_mode', 'state',
    'sub_category', 'year', 'market2'
]

# Valores Ãºnicos en cada columna categÃ³rica
for column in categorical_columns:
    print(f"Valores Ãºnicos en {column}:")
    print(df[column].unique())
    print("\n")

Valores Ãºnicos en category:
['Office Supplies' 'Technology' 'Furniture']


Valores Ãºnicos en city:
['Los Angeles' 'San Francisco' 'San Diego' ... 'Ontario' 'Whittier'
 'Redwood City']


Valores Ãºnicos en country:
['United States' 'France' 'Germany' 'El Salvador' 'Guatemala' 'Austria'
 'Nicaragua' 'Belgium' 'Switzerland' 'Italy' 'South Africa' 'India'
 'Hong Kong' 'Democratic Republic of the Congo' 'Cuba' 'United Kingdom'
 'Spain' 'Russia' 'China' 'Niger' 'Qatar' 'New Zealand' 'Mexico'
 'Malaysia' 'Poland' 'Madagascar' 'Iraq' 'Brazil' 'Colombia'
 'Saudi Arabia' 'Egypt' 'Iran' 'Ukraine' 'Japan' 'Morocco' 'Cameroon'
 'Chile' 'Ghana' 'Trinidad and Tobago' 'Canada' 'Chad' 'Kenya'
 'Bangladesh' 'Bulgaria' 'Djibouti' 'Uruguay' 'Singapore' 'Czech Republic'
 'Zambia' 'Bolivia' 'Angola' 'Australia' 'Tanzania' 'Norway'
 'Sierra Leone' 'Hungary' 'Ecuador' 'Finland' 'Afghanistan' 'Uzbekistan'
 'Romania' 'Kyrgyzstan' 'Belarus' 'Mongolia' 'Georgia' 'Syria' 'Croatia'
 'Israel' 'Liberia' 'Guinea-Bissau' 'Somalia' 'Senegal' 'Tunisia' 'Mali'
 'Algeria' 'Benin' 'Ethiopia' 'Libya' 'Mozambique' 'Guadeloupe' 'Jordan'
 'Togo' "Cote d'Ivoire" 'Taiwan' 'Jamaica' 'Cambodia' 'Azerbaijan'
 'Lesotho' 'Bahrain' 'Montenegro' 'Moldova' 'Rwanda' 'Nepal' 'Martinique'
 'Estonia' 'Albania' 'Slovakia' 'Sudan' 'Guinea' 'Republic of the Congo'
 'Namibia' 'Sri Lanka' 'Central African Republic' 'Eritrea' 'Lebanon'
 'Bosnia and Herzegovina' 'Barbados' 'Paraguay' 'Mauritania' 'Swaziland'
 'Gabon' 'Armenia' 'Slovenia' 'Macedonia' 'Equatorial Guinea'
 'South Sudan' 'Burundi' 'Turkey' 'Nigeria' 'Turkmenistan' 'Kazakhstan'
 'Lithuania' 'Yemen' 'Uganda' 'Zimbabwe' 'United Arab Emirates' 'Sweden'
 'Denmark' 'Ireland' 'Portugal' 'Netherlands' 'South Korea' 'Pakistan'
 'Papua New Guinea' 'Thailand' 'Myanmar (Burma)' 'Vietnam' 'Philippines'
 'Indonesia' 'Dominican Republic' 'Haiti' 'Panama' 'Honduras' 'Argentina'
 'Peru' 'Venezuela' 'Tajikistan']


Valores Ãºnicos en customer_name:
['Lycoris Saunders' 'Mark Van Huff' 'Chad Sievert' 'Arthur Prichep'
 'Jeremy Farry' 'William Brown' 'Joseph Airdo' 'Susan Pistek' 'Rob Lucas'
 'Katherine Ducich' 'Justin MacKendrick' 'Rob Dowd' 'Alan Barnes'
 'Andy Reiter' 'Logan Haushalter' 'Andrew Roberts' 'Nathan Gelder'
 'Darren Powers' 'Toby Swindell' 'Kunst Miller' 'Arianne Irving'
 'Clay Ludtke' 'Scot Wooten' 'Chris Cortes' 'Logan Currie'
 'Jason Fortune-' "Jas O'Carroll" 'Trudy Brown' 'Ted Trevino'
 'Denny Ordway' 'Lynn Smith' 'Olvera Toch' 'Bill Donatelli'
 'Mike Vittorini' 'Guy Thornton' 'Christopher Conant' 'Jill Matthias'
 'Pamela Stobb' 'Cindy Chapman' 'Joel Eaton' 'Xylona Preis'
 "Sean O'Donnell" 'Clytie Kelty' 'Lauren Leatherbury' 'Dorothy Dickinson'
 'Dianna Vittorini' 'Craig Carreira' 'Thomas Thornton' 'Tracy Blumstein'
 'Kean Thornton' 'Liz Carlisle' 'John Murray' 'Duane Benoit'
 'Guy Armstrong' 'Emily Phan' 'Clay Cheatham' 'Steven Roelle' 'Andy Yotov'
 'Aaron Hawkins' 'Vicky Freymann' 'Janet Molinari' 'Greg Guthrie'
 'Paul Lucas' 'Matt Abelman' 'Mike Caudle' 'Alice McCarthy' 'Bart Pistole'
 'Deanra Eno' 'Anthony Jacobs' 'Catherine Glotzbach' "Meg O'Connel"
 'Rick Wilson' 'Yoseph Carroll' 'Steve Nguyen' 'Darren Budd' 'Sean Miller'
 'Sample Company A' 'Suzanne McNair' 'Ross DeVincentis' 'Karen Ferguson'
 'Ricardo Sperren' 'Nancy Lomonaco' 'Ross Baird' 'Adam Hart' 'Scot Coram'
 'Jim Sink' 'Laura Armstrong' 'Carl Weiss' 'Tiffany House' 'Anne Pryor'
 'Henry Goldwyn' 'Grace Kelly' 'Bradley Talbott' 'Noel Staavos'
 'Saphhira Shifley' 'Roland Schwarz' 'Chris Selesnick' 'Rick Bensley'
 'Frank Hawley' 'John Lee' 'Marc Harrigan' 'Brosina Hoffman'
 'Filia McAdams' 'Anthony Rawles' 'Alejandro Ballentine' 'Tracy Collins'
 'Richard Bierner' 'Frank Preis' 'Michael Chen' 'Annie Zypern'
 'Pauline Chand' 'George Bell' 'Skye Norling' 'Frank Carlisle'
 'Paul Gonzalez' 'Pauline Webber' 'Tom Stivers' 'Lena Radford'
 'Carlos Soltero' 'Tim Brockman' 'Maribeth Schnelling' 'Fred Hopkins'
 'Tonja Turnell' 'Emily Ducich' 'Sung Pak' 'Barry Pond' 'Tom Boeckenhauer'
 'Erin Ashbrook' 'Ben Wallace' 'Stuart Calhoun' 'Dave Poirier'
 'Sonia Cooley' 'Robert Waldorf' 'Zuschuss Carroll' 'Joe Elijah'
 'Alyssa Tate' 'Bradley Nguyen' "Patrick O'Donnell" 'Paul Stevenson'
 'Barry Blumstein' 'Todd Sumrall' 'Shahid Shariari' 'Justin Deggeller'
 'Sanjit Chand' 'Joni Blumstein' 'Cynthia Delaney' 'Muhammed MacIntyre'
 'Christopher Schild' 'Charlotte Melton' 'Harry Marie' 'Karen Daniels'
 'Matt Collins' 'Matthew Clasen' 'Darrin Van Huff' 'Larry Blacks'
 'Phillip Flathmann' 'Eudokia Martin' 'Julie Prescott' 'Cynthia Voltz'
 'Jason Klamczynski' 'Steven Cartwright' 'Michelle Tran'
 'Zuschuss Donatelli' 'George Ashbrook' 'Joy Bell-' 'Brendan Murry'
 'Gary Hansen' 'Ben Ferrer' 'Bill Tyler' 'Linda Southworth'
 'Hunter Glantz' 'Sarah Brown' 'Charles Crestani' 'Anne McFarland'
 'Yana Sorensen' 'Arthur Gainer' 'Anna HÃ¤berlin' 'Jonathan Howell'
 'Sarah Bern' 'Ken Dana' 'Katherine Nockton' 'Ralph Arnett'
 'Keith Dawkins' 'Paul Van Hugh' 'Katrina Edelman' 'Michelle Arnett'
 'Julie Creighton' 'Ann Blume' 'Tim Taslimi' 'Cassandra Brandow'
 'Shaun Chance' 'Roy Phan' 'Robert Marley' 'Kean Takahito'
 'Jennifer Braxton' 'Tracy Zic' 'Barry Franz' 'Alan Shonely'
 'Ruben Ausman' 'Khloe Miller' 'Cathy Armstrong' 'Edward Hooks'
 'Jonathan Doherty' 'Matt Connell' 'Gary McGarr' 'George Zrebassa'
 'Annie Thurman' 'Karen Bern' 'Cindy Stewart' 'Mick Crebagga'
 'Brian Dahlen' 'Christina Anderson' 'Damala Kotsonis' 'Alex Avila'
 'Paul Knutson' 'Chuck Magee' 'Darrin Sayre' 'Michelle Ellison'
 'Naresj Patel' 'Nick Crebassa' 'Ken Lonsdale' 'Sonia Sunley'
 'Victoria Pisteka' 'Dennis Pardue' 'Jim Kriz' 'Erica Smith'
 'Herbert Flentye' 'Julia Dunbar' 'Shirley Jackson' 'Duane Noonan'
 'Rachel Payne' 'Shahid Hopkins' 'Jeremy Pistek' 'Scott Cohen'
 'Thomas Seio' 'Duane Huffman' 'Sheri Gordon' 'Alan Hwang'
 'Anthony Johnson' 'James Lanier' 'Ken Black' "Patrick O'Brill"
 'Lena Cacioppo' 'Helen Andreada' 'David Smith' 'David Bremer'
 'Rick Huthwaite' 'Nona Balk' 'Ashley Jarboe' 'Art Ferguson' 'Meg Tillman'
 'Theresa Swint' 'Dean Katz' 'Brian Thompson' 'Eric Barreto' 'Ruben Dartt'
 'Anna Andreadi' 'Raymond Buch' 'Dionis Lloyd' 'Becky Castell'
 'Rob Williams' 'Pete Kriz' 'Sam Zeldin' 'Chuck Clark' 'Greg Maxwell'
 'Julia West' 'Pamela Coakley' "Rose O'Brian" 'Ralph Ritter' 'Heather Jas'
 'Mike Kennedy' 'Doug Bickford' 'Stefania Perrino' 'Christopher Martinez'
 'Tamara Manning' 'Caroline Jumper' 'Vivek Gonzalez' 'Michael Moore'
 'Eugene Hildebrand' 'Sally Hughsby' 'Bill Stewart' 'Jesus Ocampo'
 'Don Jones' 'Darren Koutras' 'Michelle Moray' 'Charles Sheldon'
 'Matt Hagelstein' 'Erin Creighton' 'Eric Murdock' 'Bruce Degenhardt'
 'Jay Kimmel' 'Nora Preis' 'Lisa Ryan' 'Maxwell Schwartz'
 'Aleksandra Gannaway' 'Rick Duston' 'Craig Yedwab' 'Bruce Stewart'
 'Neil Knudson' 'Frank Gastineau' 'Hilary Holden' 'Jamie Kunitz'
 'Frank Merwin' 'Patrick Jones' 'Patrick Gardner' 'Bradley Drucker'
 'Victoria Wilson' 'Keith Herrera' 'Alan Schoenberger' 'Denise Monton'
 'Gary Zandusky' 'Kristen Hastings' 'Nathan Mautz' 'Roger Demir'
 'Georgia Rosenberg' 'Steve Carroll' 'Lindsay Shagiari' 'Erica Hernandez'
 'Cyma Kinney' 'Nick Zandusky' 'Denny Joy' 'Greg Tran' 'Karen Carlisle'
 'Dorothy Wardle' 'Alejandro Savely' 'Adrian Hane' 'Alan Dominguez'
 'Lindsay Williams' 'Troy Staebel' 'Mike Pelletier' 'Patrick Ryan'
 'Ed Jacobs' 'Deborah Brumfield' 'Maya Herman' 'Thea Hendricks'
 'Adam Shillingsburg' 'Bart Watters' 'Bruce Geld' 'Philip Fox'
 'Sean Braxton' 'Bryan Spruell' 'Jay Fein' 'Maria Zettner' 'John Grady'
 'Brian Stugart' 'Dennis Kane' 'Michael Granlund' 'Julie Kriz'
 'Ivan Gibson' 'Max Jones' 'Kelly Collister' 'Jane Waco' 'Irene Maddox'
 'Kelly Andreada' 'Shaun Weien' 'Astrea Jones' 'Scott Williamson'
 'Toby Carlisle' 'Beth Thompson' 'Greg Matthias' 'Larry Tron'
 'Nick Radford' 'Frank Atkinson' 'Sanjit Engle' 'David Flashing'
 'Tanja Norvell' 'Laurel Workman' 'Luke Schmidt' 'Maribeth Dona'
 'Berenike Kampe' 'Nathan Cano' 'Stephanie Phelps' 'Christine Sundaresam'
 'Odella Nelson' 'Richard Eichhorn' 'Ryan Akin' 'Neoma Murray'
 'Trudy Glocke' 'Maribeth Yedwab' 'Sandra Glassco' 'Mary Zewe'
 'Eileen Kiefer' 'Helen Abelman' 'Dianna Wilson' 'Vivian Mathis'
 'Stewart Visinsky' 'Chloris Kastensmidt' 'Roy Collins' 'Roland Fjeld'
 'Laurel Beltran' 'Joseph Holt' 'Liz Preis' 'Eugene Barchas' 'Dan Lawera'
 'Daniel Byrd' 'Lena Creighton' 'Roy FranzÃ¶sisch' 'Jasper Cacioppo'
 'Sean Christensen' 'Eugene Moren' 'Frank Olsen' 'Jamie Frazer'
 'Fred Chung' 'Becky Martin' 'Christina VanderZanden' 'Dave Hallsten'
 'Luke Weiss' 'Trudy Schmidt' 'Nicole Hansen' 'Jeremy Lonsdale'
 'Dan Reichenbach' 'Anthony Witt' 'Eva Jacobs' 'Joe Kamberova'
 'Neola Schneider' 'Marc Crier' 'Justin Ellison' 'Matt Collister'
 'Thomas Brumley' 'Brenda Bowman' 'Brad Norvell' 'Luke Foster'
 'Kalyca Meade' 'Christine Abelman' 'Sue Ann Reed' 'Gene McClure'
 'Elizabeth Moffitt' 'Katherine Murray' 'Penelope Sewall' 'Sanjit Jacobs'
 'Delfina Latchford' 'Dave Brooks' 'Brendan Dodson' 'Carlos Daly'
 'Katrina Bavinger' 'Ken Heidel' 'Edward Becker' 'Alex Grayson'
 'Brooke Gillingham' 'Grant Thornton' 'Kristina Nunn' 'Tamara Chand'
 'Benjamin Venier' 'Nora Pelletier' 'Neil Ducich' 'Bill Eplett'
 'Aimee Bixby' 'Bryan Mills' 'Daniel Lacy' 'Karl Braun' 'Christy Brittain'
 'Ted Butterfield' 'Maureen Gnade' 'Natalie DeCherney' 'Emily Grady'
 'Chris McAfee' 'Joni Wasserman' 'Hunter Lopez' 'Bobby Trafton'
 'Toby Braunhardt' 'Allen Goldenen' 'Darrin Martin' 'Mitch Webber'
 'Lisa DeCherney' 'Katharine Harms' 'Philip Brown' 'Lindsay Castell'
 'John Huston' 'John Lucas' 'Natalie Webber' 'Edward Nazzal'
 'Tracy Hopkins' 'Brendan Sweed' 'Andy Gerbode' 'Peter Fuller'
 'Jennifer Jackson' 'Philisse Overcash' 'Mark Cousins' 'Rick Reed'
 'Thomas Boland' 'Cindy Schnelling' 'Sally Matthias' 'Stephanie Ulpright'
 'Steven Ward' 'Helen Wasserman' 'Jennifer Patt' 'Michael Grace'
 'Corinna Mitchell' 'Denny Blanton' 'Harold Ryan' 'Tamara Dahlen'
 'Sally Knutson' 'Cari Schnelling' 'Ann Chong' 'Seth Vernon'
 'Katrina Willman' 'Craig Reiter' 'Tom Ashbrook' 'Lori Olson'
 'Deirdre Greer' 'Chuck Sachs' 'Bart Folk' 'Doug Jacobs'
 'Jennifer Ferguson' 'Susan Gilcrest' 'Barbara Fisher' 'Erin Mull'
 'Paul Prost' 'Dan Campbell' 'Sara Luxemburg' 'Nicole Fjeld'
 'Jessica Myrick' 'Roger Barcio' 'Bobby Odegard' 'Mark Packer'
 'Brian Moss' 'Jeremy Ellison' 'Don Weiss' 'Sarah Foster'
 'Liz MacKendrick' 'Denise Leinenbach' 'Todd Boyes' 'Mark Haberlin'
 'Linda Cazamias' 'Sharelle Roach' 'Resi PÃ¶lking' 'Don Miller'
 'Craig Carroll' 'Dean percer' 'Adrian Barton' 'Sibella Parks'
 'Fred McMath' 'Parhena Norris' 'Bryan Davis' 'Maria Bertelson'
 'Ellis Ballard' 'James Galang' 'Amy Hunt' 'Mathew Reese' 'Cyra Reiten'
 'Victor Preis' 'Christine Phan' 'Barry Weirich' 'Mark Hamilton'
 'Aaron Smayling' 'Rick Hansen' 'Russell Applegate' 'Chad McGuire'
 'Monica Federle' 'Valerie Dominguez' 'Amy Cox' 'Janet Lee' 'Brian Derr'
 'Speros Goranitis' 'Giulietta Baptist' 'Janet Martin' 'Adam Bellavance'
 'Nat Carroll' 'Roland Murray' 'John Castell' 'Allen Rosenblatt'
 'Henia Zydlo' 'Becky Pak' 'Harry Greene' 'Christina DeMoss'
 'Carol Darley' 'Adrian Shami' 'Allen Armold' 'David Kendrick'
 'Aaron Bergman' 'Bill Shonely' 'Robert Dilbeck' 'Shahid Collister'
 'Michelle Huthwaite' 'Max Engle' 'Tamara Willingham' 'Candace McMahon'
 'MaryBeth Skach' 'Valerie Mitchum' 'Liz Pelletier' 'Tom Prescott'
 'Cari Sayre' 'Ben Peterman' 'Ken Brennan' 'Marina Lichtenstein'
 'Craig Molinari' 'Dorris liebe' 'Gary Hwang' 'Evan Bailliet'
 'Joy Daniels' 'Ann Steele' 'Toby Ritter' 'Angele Hood' 'Rob Beeghly'
 'Fred Harton' 'Dana Kaydos' 'Christine Kargatis' 'Kimberly Carter'
 'Erica Hackney' 'Jim Karlsson' 'Clay Rozendal' 'Jenna Caffey'
 'Ionia McGrath' 'Alejandro Grove' 'Neil FranzÃ¶sisch' 'Dennis Bolton'
 'Shui Tom' 'Ivan Liston' 'Patrick Bzostek' 'Kelly Lampkin'
 'Benjamin Farhat' 'David Wiener' 'Stuart Van' 'Jim Mitchum'
 'Susan Vittorini' 'Muhammed Yedwab' 'Randy Ferguson' 'Raymond Messe'
 'Shirley Schmidt' 'Thea Hudgings' 'Jim Epp' 'Maris LaWare'
 'Claudia Bergmann' 'Pierre Wener' 'Laurel Elliston' 'Brad Eason'
 'Michael Paige' 'Sylvia Foulston' 'Harold Pawlan' 'Peter McVee'
 'Brad Thomas' 'Dave Kipp' 'Cathy Prescott' 'Jim Radford'
 'Maureen Fritzler' 'Daniel Raglin' 'Michael Kennedy' 'Harold Engle'
 'Tony Chapman' 'Dianna Arnett' 'Michael Nguyen' 'Nat Gilpin'
 'Dorothy Badders' 'Michael Dominguez' 'Liz Willingham' 'Magdelene Morse'
 'Gary Mitchum' 'Ed Ludwig' 'Jason Gross' 'Carol Triggs' 'Sung Shariari'
 'Harold Dahlen' 'Guy Phonely' "Doug O'Connell" 'Eleni McCrary'
 'Alex Russell' 'Carl Ludwig' 'Sandra Flanagan' 'Corey Roper'
 'Eric Hoffmann' 'Phillina Ober' 'Erin Smith' 'Shirley Daniels'
 'Vivek Grady' 'Cynthia Arntzen' 'Liz Thompson' 'Theresa Coyne'
 'Nora Paige' 'Dean Braden' "Jack O'Briant" 'Robert Barroso' 'Karen Seio'
 'Lena Hernandez' 'John Stevenson' 'Julia Barnett' 'Anemone Ratner'
 'Theone Pippenger' 'Debra Catini' 'Victoria Brennan' 'Maria Etezadi'
 'Mick Hernandez' 'Beth Fritzler' 'Peter BÃ¼hler' 'Anna Gayman'
 'Juliana Krohn' 'Giulietta Weimer' 'Katherine Hughes' 'Maurice Satty'
 'Fred Wasserman' 'Stewart Carmichael' 'Corey-Lock' 'Joy Smith'
 'Carol Adams' 'Natalie Fritzler' 'Giulietta Dortch' 'Mitch Willingham'
 'Anthony Garverick' 'Joel Jenkins' 'Rob Haberlin' 'Max Ludwig'
 'Jill Fjeld' 'Quincy Jones' 'Evan Minnotte' 'Barry Gonzalez'
 'Noah Childs' 'Pete Armstrong' 'Ralph Kennedy' 'Steve Chapman'
 'Anna Chung' 'Chad Cunningham' 'Hallie Redmond' 'Justin Ritter'
 'Elpida Rittenbach' 'Bill Overfelt' 'Arthur Wiediger' 'Joni Sundaresam'
 'Kelly Williams' 'Michael Stewart' 'Sean Wendt' 'Andrew Allen'
 'Mick Brown' 'Benjamin Patterson' 'Tony Molinari' 'Craig Leslie'
 'Matthew Grinstein' 'Barry FranzÃ¶sisch' 'Brian DeCherney' 'Roy Skaria'
 'Paul MacIntyre' 'Heather Kirkland' 'Sam Craven' 'Dario Medina'
 'Andrew Gjertsen' 'Ryan Crowe' 'Cathy Hwang' 'Patricia Hirasaki'
 'Valerie Takahito' 'Maureen Gastineau' 'Carl Jackson' 'Phillip Breyer'
 'Lela Donovan' 'Tracy Poddar' 'Stefanie Holloman' 'Michelle Lonsdale'
 'Alan Haines' 'Mitch Gastineau' 'Erica Bern' 'Corey Catlett'
 'Cari MacIntyre' 'Gene Hale' 'Jill Stevenson' 'Tom Zandusky' 'Ed Braxton'
 'Kean Nguyen' 'Nicole Brennan' 'Alyssa Crouse' "Anthony O'Donnell"
 'Lisa Hazard' 'Bobby Elias' "Mary O'Rourke" 'Justin Hirsh'
 'Melanie Seite' 'Sarah Jordon' 'Jocasta Rupert' 'Muhammed Lee'
 'Jennifer Halladay' 'Pauline Johnson' "Russell D'Ascenzo" 'Carlos Meador'
 'Greg Hansen' 'John Dryer' 'Vivek Sundaresam' 'Randy Bradley'
 'Art Foster' 'Ricardo Emerson' 'Henry MacAllister' 'Jack Lebron'
 'David Philippe' 'Pete Takahito' 'Larry Hughes' 'Claire Gute'
 'Charles McCrossin' 'Thais Sissman' 'Mike Gockenbach' 'Susan MacKendrick'
 'Sung Chung' 'Beth Paige' 'Jack Garza' 'Michael Oakman' 'Ritsa Hightower'
 'Toby Gnade' 'Emily Burns' 'Troy Blackwell' 'Evan Henry' 'Tony Sayre']


Valores Ãºnicos en market:
['US' 'EU' 'LATAM' 'Africa' 'APAC' 'EMEA' 'Canada']


Valores Ãºnicos en unknown:
[1]


Valores Ãºnicos en order_priority:
['High' 'Medium' 'Critical' 'Low']


Valores Ãºnicos en product_name:
['Xerox 225' 'Wirebound Service Call Books, 5 1/2" x 4"'
 'Adams Phone Message Book, Professional, 400 Message Capacity, 5 3/6â x 11â'
 ... 'Vtech AT&T CL2940 Corded Speakerphone, Black'
 'Barricks Non-Folding Utility Table with Steel Legs, Laminate Tops'
 'Socket Bluetooth Cordless Hand Scanner (CHS)']


Valores Ãºnicos en region:
['West' 'East' 'South' 'Central' 'Africa' 'Central Asia' 'North Asia'
 'Caribbean' 'North' 'EMEA' 'Oceania' 'Southeast Asia' 'Canada']


Valores Ãºnicos en segment:
['Consumer' 'Home Office' 'Corporate']


Valores Ãºnicos en ship_mode:
['Second Class' 'Standard Class' 'Same Day' 'First Class']


Valores Ãºnicos en state:
['California' 'New York' 'Washington' ... 'Tennessee' 'Oregon' 'Wyoming']


Valores Ãºnicos en sub_category:
['Paper' 'Art' 'Storage' 'Appliances' 'Supplies' 'Envelopes' 'Fasteners'
 'Labels' 'Binders' 'Accessories' 'Phones' 'Copiers' 'Machines' 'Tables'
 'Bookcases' 'Chairs' 'Furnishings']


Valores Ãºnicos en year:
[2011 2012 2013 2014]


Valores Ãºnicos en market2:
['North America' 'EU' 'LATAM' 'Africa' 'APAC' 'EMEA']

In [15]:
for column in categorical_columns:
    # Convertir la columna a string y manejar valores nulos
    df[column] = df[column].astype(str).str.lower().str.strip()

In [16]:
import numpy as np

for column in categorical_columns:
    df[column] = df[column].astype(str).str.lower().str.strip()
    # Reemplazar 'nan' con numpy's nan que es reconocido como valor nulo
    df[column] = df[column].replace('nan', np.nan)

In [17]:
for column in categorical_columns:
    print(f"Valores Ãºnicos en {column} despuÃ©s de limpieza:")
    print(df[column].unique())
    print("\n")

Valores Ãºnicos en category despuÃ©s de limpieza:
['office supplies' 'technology' 'furniture']


Valores Ãºnicos en city despuÃ©s de limpieza:
['los angeles' 'san francisco' 'san diego' ... 'ontario' 'whittier'
 'redwood city']


Valores Ãºnicos en country despuÃ©s de limpieza:
['united states' 'france' 'germany' 'el salvador' 'guatemala' 'austria'
 'nicaragua' 'belgium' 'switzerland' 'italy' 'south africa' 'india'
 'hong kong' 'democratic republic of the congo' 'cuba' 'united kingdom'
 'spain' 'russia' 'china' 'niger' 'qatar' 'new zealand' 'mexico'
 'malaysia' 'poland' 'madagascar' 'iraq' 'brazil' 'colombia'
 'saudi arabia' 'egypt' 'iran' 'ukraine' 'japan' 'morocco' 'cameroon'
 'chile' 'ghana' 'trinidad and tobago' 'canada' 'chad' 'kenya'
 'bangladesh' 'bulgaria' 'djibouti' 'uruguay' 'singapore' 'czech republic'
 'zambia' 'bolivia' 'angola' 'australia' 'tanzania' 'norway'
 'sierra leone' 'hungary' 'ecuador' 'finland' 'afghanistan' 'uzbekistan'
 'romania' 'kyrgyzstan' 'belarus' 'mongolia' 'georgia' 'syria' 'croatia'
 'israel' 'liberia' 'guinea-bissau' 'somalia' 'senegal' 'tunisia' 'mali'
 'algeria' 'benin' 'ethiopia' 'libya' 'mozambique' 'guadeloupe' 'jordan'
 'togo' "cote d'ivoire" 'taiwan' 'jamaica' 'cambodia' 'azerbaijan'
 'lesotho' 'bahrain' 'montenegro' 'moldova' 'rwanda' 'nepal' 'martinique'
 'estonia' 'albania' 'slovakia' 'sudan' 'guinea' 'republic of the congo'
 'namibia' 'sri lanka' 'central african republic' 'eritrea' 'lebanon'
 'bosnia and herzegovina' 'barbados' 'paraguay' 'mauritania' 'swaziland'
 'gabon' 'armenia' 'slovenia' 'macedonia' 'equatorial guinea'
 'south sudan' 'burundi' 'turkey' 'nigeria' 'turkmenistan' 'kazakhstan'
 'lithuania' 'yemen' 'uganda' 'zimbabwe' 'united arab emirates' 'sweden'
 'denmark' 'ireland' 'portugal' 'netherlands' 'south korea' 'pakistan'
 'papua new guinea' 'thailand' 'myanmar (burma)' 'vietnam' 'philippines'
 'indonesia' 'dominican republic' 'haiti' 'panama' 'honduras' 'argentina'
 'peru' 'venezuela' 'tajikistan']


Valores Ãºnicos en customer_name despuÃ©s de limpieza:
['lycoris saunders' 'mark van huff' 'chad sievert' 'arthur prichep'
 'jeremy farry' 'william brown' 'joseph airdo' 'susan pistek' 'rob lucas'
 'katherine ducich' 'justin mackendrick' 'rob dowd' 'alan barnes'
 'andy reiter' 'logan haushalter' 'andrew roberts' 'nathan gelder'
 'darren powers' 'toby swindell' 'kunst miller' 'arianne irving'
 'clay ludtke' 'scot wooten' 'chris cortes' 'logan currie'
 'jason fortune-' "jas o'carroll" 'trudy brown' 'ted trevino'
 'denny ordway' 'lynn smith' 'olvera toch' 'bill donatelli'
 'mike vittorini' 'guy thornton' 'christopher conant' 'jill matthias'
 'pamela stobb' 'cindy chapman' 'joel eaton' 'xylona preis'
 "sean o'donnell" 'clytie kelty' 'lauren leatherbury' 'dorothy dickinson'
 'dianna vittorini' 'craig carreira' 'thomas thornton' 'tracy blumstein'
 'kean thornton' 'liz carlisle' 'john murray' 'duane benoit'
 'guy armstrong' 'emily phan' 'clay cheatham' 'steven roelle' 'andy yotov'
 'aaron hawkins' 'vicky freymann' 'janet molinari' 'greg guthrie'
 'paul lucas' 'matt abelman' 'mike caudle' 'alice mccarthy' 'bart pistole'
 'deanra eno' 'anthony jacobs' 'catherine glotzbach' "meg o'connel"
 'rick wilson' 'yoseph carroll' 'steve nguyen' 'darren budd' 'sean miller'
 'sample company a' 'suzanne mcnair' 'ross devincentis' 'karen ferguson'
 'ricardo sperren' 'nancy lomonaco' 'ross baird' 'adam hart' 'scot coram'
 'jim sink' 'laura armstrong' 'carl weiss' 'tiffany house' 'anne pryor'
 'henry goldwyn' 'grace kelly' 'bradley talbott' 'noel staavos'
 'saphhira shifley' 'roland schwarz' 'chris selesnick' 'rick bensley'
 'frank hawley' 'john lee' 'marc harrigan' 'brosina hoffman'
 'filia mcadams' 'anthony rawles' 'alejandro ballentine' 'tracy collins'
 'richard bierner' 'frank preis' 'michael chen' 'annie zypern'
 'pauline chand' 'george bell' 'skye norling' 'frank carlisle'
 'paul gonzalez' 'pauline webber' 'tom stivers' 'lena radford'
 'carlos soltero' 'tim brockman' 'maribeth schnelling' 'fred hopkins'
 'tonja turnell' 'emily ducich' 'sung pak' 'barry pond' 'tom boeckenhauer'
 'erin ashbrook' 'ben wallace' 'stuart calhoun' 'dave poirier'
 'sonia cooley' 'robert waldorf' 'zuschuss carroll' 'joe elijah'
 'alyssa tate' 'bradley nguyen' "patrick o'donnell" 'paul stevenson'
 'barry blumstein' 'todd sumrall' 'shahid shariari' 'justin deggeller'
 'sanjit chand' 'joni blumstein' 'cynthia delaney' 'muhammed macintyre'
 'christopher schild' 'charlotte melton' 'harry marie' 'karen daniels'
 'matt collins' 'matthew clasen' 'darrin van huff' 'larry blacks'
 'phillip flathmann' 'eudokia martin' 'julie prescott' 'cynthia voltz'
 'jason klamczynski' 'steven cartwright' 'michelle tran'
 'zuschuss donatelli' 'george ashbrook' 'joy bell-' 'brendan murry'
 'gary hansen' 'ben ferrer' 'bill tyler' 'linda southworth'
 'hunter glantz' 'sarah brown' 'charles crestani' 'anne mcfarland'
 'yana sorensen' 'arthur gainer' 'anna hÃ¤berlin' 'jonathan howell'
 'sarah bern' 'ken dana' 'katherine nockton' 'ralph arnett'
 'keith dawkins' 'paul van hugh' 'katrina edelman' 'michelle arnett'
 'julie creighton' 'ann blume' 'tim taslimi' 'cassandra brandow'
 'shaun chance' 'roy phan' 'robert marley' 'kean takahito'
 'jennifer braxton' 'tracy zic' 'barry franz' 'alan shonely'
 'ruben ausman' 'khloe miller' 'cathy armstrong' 'edward hooks'
 'jonathan doherty' 'matt connell' 'gary mcgarr' 'george zrebassa'
 'annie thurman' 'karen bern' 'cindy stewart' 'mick crebagga'
 'brian dahlen' 'christina anderson' 'damala kotsonis' 'alex avila'
 'paul knutson' 'chuck magee' 'darrin sayre' 'michelle ellison'
 'naresj patel' 'nick crebassa' 'ken lonsdale' 'sonia sunley'
 'victoria pisteka' 'dennis pardue' 'jim kriz' 'erica smith'
 'herbert flentye' 'julia dunbar' 'shirley jackson' 'duane noonan'
 'rachel payne' 'shahid hopkins' 'jeremy pistek' 'scott cohen'
 'thomas seio' 'duane huffman' 'sheri gordon' 'alan hwang'
 'anthony johnson' 'james lanier' 'ken black' "patrick o'brill"
 'lena cacioppo' 'helen andreada' 'david smith' 'david bremer'
 'rick huthwaite' 'nona balk' 'ashley jarboe' 'art ferguson' 'meg tillman'
 'theresa swint' 'dean katz' 'brian thompson' 'eric barreto' 'ruben dartt'
 'anna andreadi' 'raymond buch' 'dionis lloyd' 'becky castell'
 'rob williams' 'pete kriz' 'sam zeldin' 'chuck clark' 'greg maxwell'
 'julia west' 'pamela coakley' "rose o'brian" 'ralph ritter' 'heather jas'
 'mike kennedy' 'doug bickford' 'stefania perrino' 'christopher martinez'
 'tamara manning' 'caroline jumper' 'vivek gonzalez' 'michael moore'
 'eugene hildebrand' 'sally hughsby' 'bill stewart' 'jesus ocampo'
 'don jones' 'darren koutras' 'michelle moray' 'charles sheldon'
 'matt hagelstein' 'erin creighton' 'eric murdock' 'bruce degenhardt'
 'jay kimmel' 'nora preis' 'lisa ryan' 'maxwell schwartz'
 'aleksandra gannaway' 'rick duston' 'craig yedwab' 'bruce stewart'
 'neil knudson' 'frank gastineau' 'hilary holden' 'jamie kunitz'
 'frank merwin' 'patrick jones' 'patrick gardner' 'bradley drucker'
 'victoria wilson' 'keith herrera' 'alan schoenberger' 'denise monton'
 'gary zandusky' 'kristen hastings' 'nathan mautz' 'roger demir'
 'georgia rosenberg' 'steve carroll' 'lindsay shagiari' 'erica hernandez'
 'cyma kinney' 'nick zandusky' 'denny joy' 'greg tran' 'karen carlisle'
 'dorothy wardle' 'alejandro savely' 'adrian hane' 'alan dominguez'
 'lindsay williams' 'troy staebel' 'mike pelletier' 'patrick ryan'
 'ed jacobs' 'deborah brumfield' 'maya herman' 'thea hendricks'
 'adam shillingsburg' 'bart watters' 'bruce geld' 'philip fox'
 'sean braxton' 'bryan spruell' 'jay fein' 'maria zettner' 'john grady'
 'brian stugart' 'dennis kane' 'michael granlund' 'julie kriz'
 'ivan gibson' 'max jones' 'kelly collister' 'jane waco' 'irene maddox'
 'kelly andreada' 'shaun weien' 'astrea jones' 'scott williamson'
 'toby carlisle' 'beth thompson' 'greg matthias' 'larry tron'
 'nick radford' 'frank atkinson' 'sanjit engle' 'david flashing'
 'tanja norvell' 'laurel workman' 'luke schmidt' 'maribeth dona'
 'berenike kampe' 'nathan cano' 'stephanie phelps' 'christine sundaresam'
 'odella nelson' 'richard eichhorn' 'ryan akin' 'neoma murray'
 'trudy glocke' 'maribeth yedwab' 'sandra glassco' 'mary zewe'
 'eileen kiefer' 'helen abelman' 'dianna wilson' 'vivian mathis'
 'stewart visinsky' 'chloris kastensmidt' 'roy collins' 'roland fjeld'
 'laurel beltran' 'joseph holt' 'liz preis' 'eugene barchas' 'dan lawera'
 'daniel byrd' 'lena creighton' 'roy franzÃ¶sisch' 'jasper cacioppo'
 'sean christensen' 'eugene moren' 'frank olsen' 'jamie frazer'
 'fred chung' 'becky martin' 'christina vanderzanden' 'dave hallsten'
 'luke weiss' 'trudy schmidt' 'nicole hansen' 'jeremy lonsdale'
 'dan reichenbach' 'anthony witt' 'eva jacobs' 'joe kamberova'
 'neola schneider' 'marc crier' 'justin ellison' 'matt collister'
 'thomas brumley' 'brenda bowman' 'brad norvell' 'luke foster'
 'kalyca meade' 'christine abelman' 'sue ann reed' 'gene mcclure'
 'elizabeth moffitt' 'katherine murray' 'penelope sewall' 'sanjit jacobs'
 'delfina latchford' 'dave brooks' 'brendan dodson' 'carlos daly'
 'katrina bavinger' 'ken heidel' 'edward becker' 'alex grayson'
 'brooke gillingham' 'grant thornton' 'kristina nunn' 'tamara chand'
 'benjamin venier' 'nora pelletier' 'neil ducich' 'bill eplett'
 'aimee bixby' 'bryan mills' 'daniel lacy' 'karl braun' 'christy brittain'
 'ted butterfield' 'maureen gnade' 'natalie decherney' 'emily grady'
 'chris mcafee' 'joni wasserman' 'hunter lopez' 'bobby trafton'
 'toby braunhardt' 'allen goldenen' 'darrin martin' 'mitch webber'
 'lisa decherney' 'katharine harms' 'philip brown' 'lindsay castell'
 'john huston' 'john lucas' 'natalie webber' 'edward nazzal'
 'tracy hopkins' 'brendan sweed' 'andy gerbode' 'peter fuller'
 'jennifer jackson' 'philisse overcash' 'mark cousins' 'rick reed'
 'thomas boland' 'cindy schnelling' 'sally matthias' 'stephanie ulpright'
 'steven ward' 'helen wasserman' 'jennifer patt' 'michael grace'
 'corinna mitchell' 'denny blanton' 'harold ryan' 'tamara dahlen'
 'sally knutson' 'cari schnelling' 'ann chong' 'seth vernon'
 'katrina willman' 'craig reiter' 'tom ashbrook' 'lori olson'
 'deirdre greer' 'chuck sachs' 'bart folk' 'doug jacobs'
 'jennifer ferguson' 'susan gilcrest' 'barbara fisher' 'erin mull'
 'paul prost' 'dan campbell' 'sara luxemburg' 'nicole fjeld'
 'jessica myrick' 'roger barcio' 'bobby odegard' 'mark packer'
 'brian moss' 'jeremy ellison' 'don weiss' 'sarah foster'
 'liz mackendrick' 'denise leinenbach' 'todd boyes' 'mark haberlin'
 'linda cazamias' 'sharelle roach' 'resi pÃ¶lking' 'don miller'
 'craig carroll' 'dean percer' 'adrian barton' 'sibella parks'
 'fred mcmath' 'parhena norris' 'bryan davis' 'maria bertelson'
 'ellis ballard' 'james galang' 'amy hunt' 'mathew reese' 'cyra reiten'
 'victor preis' 'christine phan' 'barry weirich' 'mark hamilton'
 'aaron smayling' 'rick hansen' 'russell applegate' 'chad mcguire'
 'monica federle' 'valerie dominguez' 'amy cox' 'janet lee' 'brian derr'
 'speros goranitis' 'giulietta baptist' 'janet martin' 'adam bellavance'
 'nat carroll' 'roland murray' 'john castell' 'allen rosenblatt'
 'henia zydlo' 'becky pak' 'harry greene' 'christina demoss'
 'carol darley' 'adrian shami' 'allen armold' 'david kendrick'
 'aaron bergman' 'bill shonely' 'robert dilbeck' 'shahid collister'
 'michelle huthwaite' 'max engle' 'tamara willingham' 'candace mcmahon'
 'marybeth skach' 'valerie mitchum' 'liz pelletier' 'tom prescott'
 'cari sayre' 'ben peterman' 'ken brennan' 'marina lichtenstein'
 'craig molinari' 'dorris liebe' 'gary hwang' 'evan bailliet'
 'joy daniels' 'ann steele' 'toby ritter' 'angele hood' 'rob beeghly'
 'fred harton' 'dana kaydos' 'christine kargatis' 'kimberly carter'
 'erica hackney' 'jim karlsson' 'clay rozendal' 'jenna caffey'
 'ionia mcgrath' 'alejandro grove' 'neil franzÃ¶sisch' 'dennis bolton'
 'shui tom' 'ivan liston' 'patrick bzostek' 'kelly lampkin'
 'benjamin farhat' 'david wiener' 'stuart van' 'jim mitchum'
 'susan vittorini' 'muhammed yedwab' 'randy ferguson' 'raymond messe'
 'shirley schmidt' 'thea hudgings' 'jim epp' 'maris laware'
 'claudia bergmann' 'pierre wener' 'laurel elliston' 'brad eason'
 'michael paige' 'sylvia foulston' 'harold pawlan' 'peter mcvee'
 'brad thomas' 'dave kipp' 'cathy prescott' 'jim radford'
 'maureen fritzler' 'daniel raglin' 'michael kennedy' 'harold engle'
 'tony chapman' 'dianna arnett' 'michael nguyen' 'nat gilpin'
 'dorothy badders' 'michael dominguez' 'liz willingham' 'magdelene morse'
 'gary mitchum' 'ed ludwig' 'jason gross' 'carol triggs' 'sung shariari'
 'harold dahlen' 'guy phonely' "doug o'connell" 'eleni mccrary'
 'alex russell' 'carl ludwig' 'sandra flanagan' 'corey roper'
 'eric hoffmann' 'phillina ober' 'erin smith' 'shirley daniels'
 'vivek grady' 'cynthia arntzen' 'liz thompson' 'theresa coyne'
 'nora paige' 'dean braden' "jack o'briant" 'robert barroso' 'karen seio'
 'lena hernandez' 'john stevenson' 'julia barnett' 'anemone ratner'
 'theone pippenger' 'debra catini' 'victoria brennan' 'maria etezadi'
 'mick hernandez' 'beth fritzler' 'peter bÃ¼hler' 'anna gayman'
 'juliana krohn' 'giulietta weimer' 'katherine hughes' 'maurice satty'
 'fred wasserman' 'stewart carmichael' 'corey-lock' 'joy smith'
 'carol adams' 'natalie fritzler' 'giulietta dortch' 'mitch willingham'
 'anthony garverick' 'joel jenkins' 'rob haberlin' 'max ludwig'
 'jill fjeld' 'quincy jones' 'evan minnotte' 'barry gonzalez'
 'noah childs' 'pete armstrong' 'ralph kennedy' 'steve chapman'
 'anna chung' 'chad cunningham' 'hallie redmond' 'justin ritter'
 'elpida rittenbach' 'bill overfelt' 'arthur wiediger' 'joni sundaresam'
 'kelly williams' 'michael stewart' 'sean wendt' 'andrew allen'
 'mick brown' 'benjamin patterson' 'tony molinari' 'craig leslie'
 'matthew grinstein' 'barry franzÃ¶sisch' 'brian decherney' 'roy skaria'
 'paul macintyre' 'heather kirkland' 'sam craven' 'dario medina'
 'andrew gjertsen' 'ryan crowe' 'cathy hwang' 'patricia hirasaki'
 'valerie takahito' 'maureen gastineau' 'carl jackson' 'phillip breyer'
 'lela donovan' 'tracy poddar' 'stefanie holloman' 'michelle lonsdale'
 'alan haines' 'mitch gastineau' 'erica bern' 'corey catlett'
 'cari macintyre' 'gene hale' 'jill stevenson' 'tom zandusky' 'ed braxton'
 'kean nguyen' 'nicole brennan' 'alyssa crouse' "anthony o'donnell"
 'lisa hazard' 'bobby elias' "mary o'rourke" 'justin hirsh'
 'melanie seite' 'sarah jordon' 'jocasta rupert' 'muhammed lee'
 'jennifer halladay' 'pauline johnson' "russell d'ascenzo" 'carlos meador'
 'greg hansen' 'john dryer' 'vivek sundaresam' 'randy bradley'
 'art foster' 'ricardo emerson' 'henry macallister' 'jack lebron'
 'david philippe' 'pete takahito' 'larry hughes' 'claire gute'
 'charles mccrossin' 'thais sissman' 'mike gockenbach' 'susan mackendrick'
 'sung chung' 'beth paige' 'jack garza' 'michael oakman' 'ritsa hightower'
 'toby gnade' 'emily burns' 'troy blackwell' 'evan henry' 'tony sayre']


Valores Ãºnicos en market despuÃ©s de limpieza:
['us' 'eu' 'latam' 'africa' 'apac' 'emea' 'canada']


Valores Ãºnicos en unknown despuÃ©s de limpieza:
['1']


Valores Ãºnicos en order_priority despuÃ©s de limpieza:
['high' 'medium' 'critical' 'low']


Valores Ãºnicos en product_name despuÃ©s de limpieza:
['xerox 225' 'wirebound service call books, 5 1/2" x 4"'
 'adams phone message book, professional, 400 message capacity, 5 3/6â x 11â'
 ... 'vtech at&t cl2940 corded speakerphone, black'
 'barricks non-folding utility table with steel legs, laminate tops'
 'socket bluetooth cordless hand scanner (chs)']


Valores Ãºnicos en region despuÃ©s de limpieza:
['west' 'east' 'south' 'central' 'africa' 'central asia' 'north asia'
 'caribbean' 'north' 'emea' 'oceania' 'southeast asia' 'canada']


Valores Ãºnicos en segment despuÃ©s de limpieza:
['consumer' 'home office' 'corporate']


Valores Ãºnicos en ship_mode despuÃ©s de limpieza:
['second class' 'standard class' 'same day' 'first class']


Valores Ãºnicos en state despuÃ©s de limpieza:
['california' 'new york' 'washington' ... 'tennessee' 'oregon' 'wyoming']


Valores Ãºnicos en sub_category despuÃ©s de limpieza:
['paper' 'art' 'storage' 'appliances' 'supplies' 'envelopes' 'fasteners'
 'labels' 'binders' 'accessories' 'phones' 'copiers' 'machines' 'tables'
 'bookcases' 'chairs' 'furnishings']


Valores Ãºnicos en year despuÃ©s de limpieza:
['2011' '2012' '2013' '2014']


Valores Ãºnicos en market2 despuÃ©s de limpieza:
['north america' 'eu' 'latam' 'africa' 'apac' 'emea']

In [18]:
# Ejemplo de correcciÃ³n en la columna 'city'
corrections = {
    'nwe york': 'new york',
    'san fransisco': 'san francisco'
}
df['city'] = df['city'].replace(corrections)

In [19]:
import pandas as pd
for column in categorical_columns:
    print(f"Valores Ãºnicos corregidos en {column}:")
    print(df[column].unique())
    print("\n")

Valores Ãºnicos corregidos en category:
['office supplies' 'technology' 'furniture']


Valores Ãºnicos corregidos en city:
['los angeles' 'san francisco' 'san diego' ... 'ontario' 'whittier'
 'redwood city']


Valores Ãºnicos corregidos en country:
['united states' 'france' 'germany' 'el salvador' 'guatemala' 'austria'
 'nicaragua' 'belgium' 'switzerland' 'italy' 'south africa' 'india'
 'hong kong' 'democratic republic of the congo' 'cuba' 'united kingdom'
 'spain' 'russia' 'china' 'niger' 'qatar' 'new zealand' 'mexico'
 'malaysia' 'poland' 'madagascar' 'iraq' 'brazil' 'colombia'
 'saudi arabia' 'egypt' 'iran' 'ukraine' 'japan' 'morocco' 'cameroon'
 'chile' 'ghana' 'trinidad and tobago' 'canada' 'chad' 'kenya'
 'bangladesh' 'bulgaria' 'djibouti' 'uruguay' 'singapore' 'czech republic'
 'zambia' 'bolivia' 'angola' 'australia' 'tanzania' 'norway'
 'sierra leone' 'hungary' 'ecuador' 'finland' 'afghanistan' 'uzbekistan'
 'romania' 'kyrgyzstan' 'belarus' 'mongolia' 'georgia' 'syria' 'croatia'
 'israel' 'liberia' 'guinea-bissau' 'somalia' 'senegal' 'tunisia' 'mali'
 'algeria' 'benin' 'ethiopia' 'libya' 'mozambique' 'guadeloupe' 'jordan'
 'togo' "cote d'ivoire" 'taiwan' 'jamaica' 'cambodia' 'azerbaijan'
 'lesotho' 'bahrain' 'montenegro' 'moldova' 'rwanda' 'nepal' 'martinique'
 'estonia' 'albania' 'slovakia' 'sudan' 'guinea' 'republic of the congo'
 'namibia' 'sri lanka' 'central african republic' 'eritrea' 'lebanon'
 'bosnia and herzegovina' 'barbados' 'paraguay' 'mauritania' 'swaziland'
 'gabon' 'armenia' 'slovenia' 'macedonia' 'equatorial guinea'
 'south sudan' 'burundi' 'turkey' 'nigeria' 'turkmenistan' 'kazakhstan'
 'lithuania' 'yemen' 'uganda' 'zimbabwe' 'united arab emirates' 'sweden'
 'denmark' 'ireland' 'portugal' 'netherlands' 'south korea' 'pakistan'
 'papua new guinea' 'thailand' 'myanmar (burma)' 'vietnam' 'philippines'
 'indonesia' 'dominican republic' 'haiti' 'panama' 'honduras' 'argentina'
 'peru' 'venezuela' 'tajikistan']


Valores Ãºnicos corregidos en customer_name:
['lycoris saunders' 'mark van huff' 'chad sievert' 'arthur prichep'
 'jeremy farry' 'william brown' 'joseph airdo' 'susan pistek' 'rob lucas'
 'katherine ducich' 'justin mackendrick' 'rob dowd' 'alan barnes'
 'andy reiter' 'logan haushalter' 'andrew roberts' 'nathan gelder'
 'darren powers' 'toby swindell' 'kunst miller' 'arianne irving'
 'clay ludtke' 'scot wooten' 'chris cortes' 'logan currie'
 'jason fortune-' "jas o'carroll" 'trudy brown' 'ted trevino'
 'denny ordway' 'lynn smith' 'olvera toch' 'bill donatelli'
 'mike vittorini' 'guy thornton' 'christopher conant' 'jill matthias'
 'pamela stobb' 'cindy chapman' 'joel eaton' 'xylona preis'
 "sean o'donnell" 'clytie kelty' 'lauren leatherbury' 'dorothy dickinson'
 'dianna vittorini' 'craig carreira' 'thomas thornton' 'tracy blumstein'
 'kean thornton' 'liz carlisle' 'john murray' 'duane benoit'
 'guy armstrong' 'emily phan' 'clay cheatham' 'steven roelle' 'andy yotov'
 'aaron hawkins' 'vicky freymann' 'janet molinari' 'greg guthrie'
 'paul lucas' 'matt abelman' 'mike caudle' 'alice mccarthy' 'bart pistole'
 'deanra eno' 'anthony jacobs' 'catherine glotzbach' "meg o'connel"
 'rick wilson' 'yoseph carroll' 'steve nguyen' 'darren budd' 'sean miller'
 'sample company a' 'suzanne mcnair' 'ross devincentis' 'karen ferguson'
 'ricardo sperren' 'nancy lomonaco' 'ross baird' 'adam hart' 'scot coram'
 'jim sink' 'laura armstrong' 'carl weiss' 'tiffany house' 'anne pryor'
 'henry goldwyn' 'grace kelly' 'bradley talbott' 'noel staavos'
 'saphhira shifley' 'roland schwarz' 'chris selesnick' 'rick bensley'
 'frank hawley' 'john lee' 'marc harrigan' 'brosina hoffman'
 'filia mcadams' 'anthony rawles' 'alejandro ballentine' 'tracy collins'
 'richard bierner' 'frank preis' 'michael chen' 'annie zypern'
 'pauline chand' 'george bell' 'skye norling' 'frank carlisle'
 'paul gonzalez' 'pauline webber' 'tom stivers' 'lena radford'
 'carlos soltero' 'tim brockman' 'maribeth schnelling' 'fred hopkins'
 'tonja turnell' 'emily ducich' 'sung pak' 'barry pond' 'tom boeckenhauer'
 'erin ashbrook' 'ben wallace' 'stuart calhoun' 'dave poirier'
 'sonia cooley' 'robert waldorf' 'zuschuss carroll' 'joe elijah'
 'alyssa tate' 'bradley nguyen' "patrick o'donnell" 'paul stevenson'
 'barry blumstein' 'todd sumrall' 'shahid shariari' 'justin deggeller'
 'sanjit chand' 'joni blumstein' 'cynthia delaney' 'muhammed macintyre'
 'christopher schild' 'charlotte melton' 'harry marie' 'karen daniels'
 'matt collins' 'matthew clasen' 'darrin van huff' 'larry blacks'
 'phillip flathmann' 'eudokia martin' 'julie prescott' 'cynthia voltz'
 'jason klamczynski' 'steven cartwright' 'michelle tran'
 'zuschuss donatelli' 'george ashbrook' 'joy bell-' 'brendan murry'
 'gary hansen' 'ben ferrer' 'bill tyler' 'linda southworth'
 'hunter glantz' 'sarah brown' 'charles crestani' 'anne mcfarland'
 'yana sorensen' 'arthur gainer' 'anna hÃ¤berlin' 'jonathan howell'
 'sarah bern' 'ken dana' 'katherine nockton' 'ralph arnett'
 'keith dawkins' 'paul van hugh' 'katrina edelman' 'michelle arnett'
 'julie creighton' 'ann blume' 'tim taslimi' 'cassandra brandow'
 'shaun chance' 'roy phan' 'robert marley' 'kean takahito'
 'jennifer braxton' 'tracy zic' 'barry franz' 'alan shonely'
 'ruben ausman' 'khloe miller' 'cathy armstrong' 'edward hooks'
 'jonathan doherty' 'matt connell' 'gary mcgarr' 'george zrebassa'
 'annie thurman' 'karen bern' 'cindy stewart' 'mick crebagga'
 'brian dahlen' 'christina anderson' 'damala kotsonis' 'alex avila'
 'paul knutson' 'chuck magee' 'darrin sayre' 'michelle ellison'
 'naresj patel' 'nick crebassa' 'ken lonsdale' 'sonia sunley'
 'victoria pisteka' 'dennis pardue' 'jim kriz' 'erica smith'
 'herbert flentye' 'julia dunbar' 'shirley jackson' 'duane noonan'
 'rachel payne' 'shahid hopkins' 'jeremy pistek' 'scott cohen'
 'thomas seio' 'duane huffman' 'sheri gordon' 'alan hwang'
 'anthony johnson' 'james lanier' 'ken black' "patrick o'brill"
 'lena cacioppo' 'helen andreada' 'david smith' 'david bremer'
 'rick huthwaite' 'nona balk' 'ashley jarboe' 'art ferguson' 'meg tillman'
 'theresa swint' 'dean katz' 'brian thompson' 'eric barreto' 'ruben dartt'
 'anna andreadi' 'raymond buch' 'dionis lloyd' 'becky castell'
 'rob williams' 'pete kriz' 'sam zeldin' 'chuck clark' 'greg maxwell'
 'julia west' 'pamela coakley' "rose o'brian" 'ralph ritter' 'heather jas'
 'mike kennedy' 'doug bickford' 'stefania perrino' 'christopher martinez'
 'tamara manning' 'caroline jumper' 'vivek gonzalez' 'michael moore'
 'eugene hildebrand' 'sally hughsby' 'bill stewart' 'jesus ocampo'
 'don jones' 'darren koutras' 'michelle moray' 'charles sheldon'
 'matt hagelstein' 'erin creighton' 'eric murdock' 'bruce degenhardt'
 'jay kimmel' 'nora preis' 'lisa ryan' 'maxwell schwartz'
 'aleksandra gannaway' 'rick duston' 'craig yedwab' 'bruce stewart'
 'neil knudson' 'frank gastineau' 'hilary holden' 'jamie kunitz'
 'frank merwin' 'patrick jones' 'patrick gardner' 'bradley drucker'
 'victoria wilson' 'keith herrera' 'alan schoenberger' 'denise monton'
 'gary zandusky' 'kristen hastings' 'nathan mautz' 'roger demir'
 'georgia rosenberg' 'steve carroll' 'lindsay shagiari' 'erica hernandez'
 'cyma kinney' 'nick zandusky' 'denny joy' 'greg tran' 'karen carlisle'
 'dorothy wardle' 'alejandro savely' 'adrian hane' 'alan dominguez'
 'lindsay williams' 'troy staebel' 'mike pelletier' 'patrick ryan'
 'ed jacobs' 'deborah brumfield' 'maya herman' 'thea hendricks'
 'adam shillingsburg' 'bart watters' 'bruce geld' 'philip fox'
 'sean braxton' 'bryan spruell' 'jay fein' 'maria zettner' 'john grady'
 'brian stugart' 'dennis kane' 'michael granlund' 'julie kriz'
 'ivan gibson' 'max jones' 'kelly collister' 'jane waco' 'irene maddox'
 'kelly andreada' 'shaun weien' 'astrea jones' 'scott williamson'
 'toby carlisle' 'beth thompson' 'greg matthias' 'larry tron'
 'nick radford' 'frank atkinson' 'sanjit engle' 'david flashing'
 'tanja norvell' 'laurel workman' 'luke schmidt' 'maribeth dona'
 'berenike kampe' 'nathan cano' 'stephanie phelps' 'christine sundaresam'
 'odella nelson' 'richard eichhorn' 'ryan akin' 'neoma murray'
 'trudy glocke' 'maribeth yedwab' 'sandra glassco' 'mary zewe'
 'eileen kiefer' 'helen abelman' 'dianna wilson' 'vivian mathis'
 'stewart visinsky' 'chloris kastensmidt' 'roy collins' 'roland fjeld'
 'laurel beltran' 'joseph holt' 'liz preis' 'eugene barchas' 'dan lawera'
 'daniel byrd' 'lena creighton' 'roy franzÃ¶sisch' 'jasper cacioppo'
 'sean christensen' 'eugene moren' 'frank olsen' 'jamie frazer'
 'fred chung' 'becky martin' 'christina vanderzanden' 'dave hallsten'
 'luke weiss' 'trudy schmidt' 'nicole hansen' 'jeremy lonsdale'
 'dan reichenbach' 'anthony witt' 'eva jacobs' 'joe kamberova'
 'neola schneider' 'marc crier' 'justin ellison' 'matt collister'
 'thomas brumley' 'brenda bowman' 'brad norvell' 'luke foster'
 'kalyca meade' 'christine abelman' 'sue ann reed' 'gene mcclure'
 'elizabeth moffitt' 'katherine murray' 'penelope sewall' 'sanjit jacobs'
 'delfina latchford' 'dave brooks' 'brendan dodson' 'carlos daly'
 'katrina bavinger' 'ken heidel' 'edward becker' 'alex grayson'
 'brooke gillingham' 'grant thornton' 'kristina nunn' 'tamara chand'
 'benjamin venier' 'nora pelletier' 'neil ducich' 'bill eplett'
 'aimee bixby' 'bryan mills' 'daniel lacy' 'karl braun' 'christy brittain'
 'ted butterfield' 'maureen gnade' 'natalie decherney' 'emily grady'
 'chris mcafee' 'joni wasserman' 'hunter lopez' 'bobby trafton'
 'toby braunhardt' 'allen goldenen' 'darrin martin' 'mitch webber'
 'lisa decherney' 'katharine harms' 'philip brown' 'lindsay castell'
 'john huston' 'john lucas' 'natalie webber' 'edward nazzal'
 'tracy hopkins' 'brendan sweed' 'andy gerbode' 'peter fuller'
 'jennifer jackson' 'philisse overcash' 'mark cousins' 'rick reed'
 'thomas boland' 'cindy schnelling' 'sally matthias' 'stephanie ulpright'
 'steven ward' 'helen wasserman' 'jennifer patt' 'michael grace'
 'corinna mitchell' 'denny blanton' 'harold ryan' 'tamara dahlen'
 'sally knutson' 'cari schnelling' 'ann chong' 'seth vernon'
 'katrina willman' 'craig reiter' 'tom ashbrook' 'lori olson'
 'deirdre greer' 'chuck sachs' 'bart folk' 'doug jacobs'
 'jennifer ferguson' 'susan gilcrest' 'barbara fisher' 'erin mull'
 'paul prost' 'dan campbell' 'sara luxemburg' 'nicole fjeld'
 'jessica myrick' 'roger barcio' 'bobby odegard' 'mark packer'
 'brian moss' 'jeremy ellison' 'don weiss' 'sarah foster'
 'liz mackendrick' 'denise leinenbach' 'todd boyes' 'mark haberlin'
 'linda cazamias' 'sharelle roach' 'resi pÃ¶lking' 'don miller'
 'craig carroll' 'dean percer' 'adrian barton' 'sibella parks'
 'fred mcmath' 'parhena norris' 'bryan davis' 'maria bertelson'
 'ellis ballard' 'james galang' 'amy hunt' 'mathew reese' 'cyra reiten'
 'victor preis' 'christine phan' 'barry weirich' 'mark hamilton'
 'aaron smayling' 'rick hansen' 'russell applegate' 'chad mcguire'
 'monica federle' 'valerie dominguez' 'amy cox' 'janet lee' 'brian derr'
 'speros goranitis' 'giulietta baptist' 'janet martin' 'adam bellavance'
 'nat carroll' 'roland murray' 'john castell' 'allen rosenblatt'
 'henia zydlo' 'becky pak' 'harry greene' 'christina demoss'
 'carol darley' 'adrian shami' 'allen armold' 'david kendrick'
 'aaron bergman' 'bill shonely' 'robert dilbeck' 'shahid collister'
 'michelle huthwaite' 'max engle' 'tamara willingham' 'candace mcmahon'
 'marybeth skach' 'valerie mitchum' 'liz pelletier' 'tom prescott'
 'cari sayre' 'ben peterman' 'ken brennan' 'marina lichtenstein'
 'craig molinari' 'dorris liebe' 'gary hwang' 'evan bailliet'
 'joy daniels' 'ann steele' 'toby ritter' 'angele hood' 'rob beeghly'
 'fred harton' 'dana kaydos' 'christine kargatis' 'kimberly carter'
 'erica hackney' 'jim karlsson' 'clay rozendal' 'jenna caffey'
 'ionia mcgrath' 'alejandro grove' 'neil franzÃ¶sisch' 'dennis bolton'
 'shui tom' 'ivan liston' 'patrick bzostek' 'kelly lampkin'
 'benjamin farhat' 'david wiener' 'stuart van' 'jim mitchum'
 'susan vittorini' 'muhammed yedwab' 'randy ferguson' 'raymond messe'
 'shirley schmidt' 'thea hudgings' 'jim epp' 'maris laware'
 'claudia bergmann' 'pierre wener' 'laurel elliston' 'brad eason'
 'michael paige' 'sylvia foulston' 'harold pawlan' 'peter mcvee'
 'brad thomas' 'dave kipp' 'cathy prescott' 'jim radford'
 'maureen fritzler' 'daniel raglin' 'michael kennedy' 'harold engle'
 'tony chapman' 'dianna arnett' 'michael nguyen' 'nat gilpin'
 'dorothy badders' 'michael dominguez' 'liz willingham' 'magdelene morse'
 'gary mitchum' 'ed ludwig' 'jason gross' 'carol triggs' 'sung shariari'
 'harold dahlen' 'guy phonely' "doug o'connell" 'eleni mccrary'
 'alex russell' 'carl ludwig' 'sandra flanagan' 'corey roper'
 'eric hoffmann' 'phillina ober' 'erin smith' 'shirley daniels'
 'vivek grady' 'cynthia arntzen' 'liz thompson' 'theresa coyne'
 'nora paige' 'dean braden' "jack o'briant" 'robert barroso' 'karen seio'
 'lena hernandez' 'john stevenson' 'julia barnett' 'anemone ratner'
 'theone pippenger' 'debra catini' 'victoria brennan' 'maria etezadi'
 'mick hernandez' 'beth fritzler' 'peter bÃ¼hler' 'anna gayman'
 'juliana krohn' 'giulietta weimer' 'katherine hughes' 'maurice satty'
 'fred wasserman' 'stewart carmichael' 'corey-lock' 'joy smith'
 'carol adams' 'natalie fritzler' 'giulietta dortch' 'mitch willingham'
 'anthony garverick' 'joel jenkins' 'rob haberlin' 'max ludwig'
 'jill fjeld' 'quincy jones' 'evan minnotte' 'barry gonzalez'
 'noah childs' 'pete armstrong' 'ralph kennedy' 'steve chapman'
 'anna chung' 'chad cunningham' 'hallie redmond' 'justin ritter'
 'elpida rittenbach' 'bill overfelt' 'arthur wiediger' 'joni sundaresam'
 'kelly williams' 'michael stewart' 'sean wendt' 'andrew allen'
 'mick brown' 'benjamin patterson' 'tony molinari' 'craig leslie'
 'matthew grinstein' 'barry franzÃ¶sisch' 'brian decherney' 'roy skaria'
 'paul macintyre' 'heather kirkland' 'sam craven' 'dario medina'
 'andrew gjertsen' 'ryan crowe' 'cathy hwang' 'patricia hirasaki'
 'valerie takahito' 'maureen gastineau' 'carl jackson' 'phillip breyer'
 'lela donovan' 'tracy poddar' 'stefanie holloman' 'michelle lonsdale'
 'alan haines' 'mitch gastineau' 'erica bern' 'corey catlett'
 'cari macintyre' 'gene hale' 'jill stevenson' 'tom zandusky' 'ed braxton'
 'kean nguyen' 'nicole brennan' 'alyssa crouse' "anthony o'donnell"
 'lisa hazard' 'bobby elias' "mary o'rourke" 'justin hirsh'
 'melanie seite' 'sarah jordon' 'jocasta rupert' 'muhammed lee'
 'jennifer halladay' 'pauline johnson' "russell d'ascenzo" 'carlos meador'
 'greg hansen' 'john dryer' 'vivek sundaresam' 'randy bradley'
 'art foster' 'ricardo emerson' 'henry macallister' 'jack lebron'
 'david philippe' 'pete takahito' 'larry hughes' 'claire gute'
 'charles mccrossin' 'thais sissman' 'mike gockenbach' 'susan mackendrick'
 'sung chung' 'beth paige' 'jack garza' 'michael oakman' 'ritsa hightower'
 'toby gnade' 'emily burns' 'troy blackwell' 'evan henry' 'tony sayre']


Valores Ãºnicos corregidos en market:
['us' 'eu' 'latam' 'africa' 'apac' 'emea' 'canada']


Valores Ãºnicos corregidos en unknown:
['1']


Valores Ãºnicos corregidos en order_priority:
['high' 'medium' 'critical' 'low']


Valores Ãºnicos corregidos en product_name:
['xerox 225' 'wirebound service call books, 5 1/2" x 4"'
 'adams phone message book, professional, 400 message capacity, 5 3/6â x 11â'
 ... 'vtech at&t cl2940 corded speakerphone, black'
 'barricks non-folding utility table with steel legs, laminate tops'
 'socket bluetooth cordless hand scanner (chs)']


Valores Ãºnicos corregidos en region:
['west' 'east' 'south' 'central' 'africa' 'central asia' 'north asia'
 'caribbean' 'north' 'emea' 'oceania' 'southeast asia' 'canada']


Valores Ãºnicos corregidos en segment:
['consumer' 'home office' 'corporate']


Valores Ãºnicos corregidos en ship_mode:
['second class' 'standard class' 'same day' 'first class']


Valores Ãºnicos corregidos en state:
['california' 'new york' 'washington' ... 'tennessee' 'oregon' 'wyoming']


Valores Ãºnicos corregidos en sub_category:
['paper' 'art' 'storage' 'appliances' 'supplies' 'envelopes' 'fasteners'
 'labels' 'binders' 'accessories' 'phones' 'copiers' 'machines' 'tables'
 'bookcases' 'chairs' 'furnishings']


Valores Ãºnicos corregidos en year:
['2011' '2012' '2013' '2014']


Valores Ãºnicos corregidos en market2:
['north america' 'eu' 'latam' 'africa' 'apac' 'emea']

In [20]:
#Outliers variables categÃ³ricas
# Calcular la frecuencia de cada categorÃ­a en, por ejemplo, la columna 'category'
category_counts = df['category'].value_counts()
total_counts = len(df)

# Considerar como outliers las categorÃ­as que constituyen menos del 1% del total
rare_categories = category_counts[category_counts < 0.01 * total_counts]
print("CategorÃ­as raras:")
print(rare_categories)

CategorÃ­as raras:
Series([], Name: count, dtype: int64)

In [23]:
#NormalizaciÃ³n del DataFrame

text_columns = df.select_dtypes(include=['object']).columns
print("Columnas de texto identificadas:", text_columns)

# Convertir todas las entradas de columnas de texto a minÃºsculas
for column in text_columns:
    df[column] = df[column].str.lower()

# Verificar los primeros registros para confirmar la conversiÃ³n
print(df.head())

# Guardar el DataFrame modificado
df.to_csv('superstore1.csv', index=False)

Columnas de texto identificadas: Index(['category', 'city', 'country', 'customer_ID', 'customer_name', 'market',
       'unknown', 'order_date', 'order_id', 'order_priority', 'product_id',
       'product_name', 'region', 'segment', 'ship_date', 'ship_mode', 'state',
       'sub_category', 'year', 'market2'],
      dtype='object')
          category         city        country customer_ID     customer_name  \
0  office supplies  los angeles  united states   ls-172304  lycoris saunders
1  office supplies  los angeles  united states   mv-174854     mark van huff
2  office supplies  los angeles  united states   cs-121304      chad sievert
3  office supplies  los angeles  united states   cs-121304      chad sievert
4  office supplies  los angeles  united states   ap-109154    arthur prichep

   discount market unknown          order_date        order_id  ... sales  \
0       0.0     us       1  2011-01-07 0:00:00  ca-2011-130813  ...    19
1       0.0     us       1  2011-01-21 0:00:00  ca-2011-148614  ...    19
2       0.0     us       1  2011-08-05 0:00:00  ca-2011-118962  ...    21
3       0.0     us       1  2011-08-05 0:00:00  ca-2011-118962  ...   111
4       0.0     us       1  2011-09-29 0:00:00  ca-2011-146969  ...     6

    segment           ship_date       ship_mode  shipping_cost       state  \
0  consumer  2011-01-09 0:00:00    second class           4.37  california
1  consumer  2011-01-26 0:00:00  standard class           0.94  california
2  consumer  2011-08-09 0:00:00  standard class           1.81  california
3  consumer  2011-08-09 0:00:00  standard class           4.59  california
4  consumer  2011-10-03 0:00:00  standard class           1.32  california

   sub_category  year        market2 weeknum
0         paper  2011  north america       2
1         paper  2011  north america       4
2         paper  2011  north america      32
3         paper  2011  north america      32
4         paper  2011  north america      40

[5 rows x 27 columns]

4.- Tipo de datos

In [24]:
import pandas as pd

# Cargar datos
df = pd.read_csv('/content/superstore1.csv')

# Mostrar informaciÃ³n sobre el DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   category        51290 non-null  object
 1   city            51290 non-null  object
 2   country         51290 non-null  object
 3   customer_ID     51290 non-null  object
 4   customer_name   51290 non-null  object
 5   discount        51290 non-null  float64
 6   market          51290 non-null  object
 7   unknown         51290 non-null  int64
 8   order_date      51290 non-null  object
 9   order_id        51290 non-null  object
 10  order_priority  51290 non-null  object
 11  product_id      51290 non-null  object
 12  product_name    51290 non-null  object
 13  profit          51290 non-null  float64
 14  quantity        51290 non-null  int64
 15  region          51290 non-null  object
 16  row_id          51290 non-null  int64
 17  sales           51290 non-null  int64
 18  segment         51290 non-null  object
 19  ship_date       51290 non-null  object
 20  ship_mode       51290 non-null  object
 21  shipping_cost   51290 non-null  float64
 22  state           51290 non-null  object
 23  sub_category    51290 non-null  object
 24  year            51290 non-null  int64
 25  market2         51290 non-null  object
 26  weeknum         51290 non-null  int64
dtypes: float64(3), int64(6), object(18)
memory usage: 10.6+ MB

5.- WebScrapping

In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# url de la pÃ¡gina web a Â«escrapearÂ»
url = 'https://en.wikipedia.org/wiki/List_of_supermarket_chains'

# pasar "User-agent" para simular interacciÃ³n con la pÃ¡gina usando Navegador web
headers = {"User-agent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36'}

respuesta = requests.get(url, headers=headers)

# El cÃ³digo de respuesta <200> indicarÃ¡ que todo saliÃ³ bien
print(respuesta)

<Response [200]>

In [26]:
#Guardar todas las tablas encontradas
all_tables = pd.read_html(respuesta.content, encoding = 'utf8')

In [27]:
#Tablas de la web
print(f'Total de tablas encontradas: {len(all_tables)}')

Total de tablas encontradas: 3

In [29]:
#Buscar la tabla que coincide con algun elemento de la tabla
matched_table = pd.read_html(respuesta.text, match='Company')

# imprime numero de tablas que coinciden con parametro match
print(f'Total de tablas encontradas: {len(matched_table)}')

Total de tablas encontradas: 1

<ipython-input-29-b33d5056fbee>:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  matched_table = pd.read_html(respuesta.text, match='Company')

In [31]:
# Guardar tabla en variable con nombre semÃ¡ntico
multinacional = matched_table[0]

# Verificamos si es la tabla que buscamos
multinacional.tail(5)

,Company,Headquarters,Served countries (besides the headquarters),Map,Number of locations,Number of employees,Unnamed: 6
369,T&T Supermarket,Canada,NaN,NaN,33,NaN,NaN
370,Match,Belgium,"Luxembourg, France",NaN,217,NaN,NaN
371,C-market,Serbia,NaN,NaN,NaN,NaN,NaN
372,Tegut,Germany,NaN,NaN,275,7700,NaN
373,Comet,United Kingdom,NaN,NaN,NaN,NaN,NaN

In [32]:
# Eliminar la Ãºltima columna de un DataFrame
multinacional.drop(multinacional.columns[-1], axis=1, inplace=True)

# Verificar si se eliminÃ³ la Ãºltima columna
print(multinacional.head())

          Company         Headquarters  \
0        7-Eleven  Japan United States
1            Aeon                Japan
2  Ahold Delhaize          Netherlands
3       Aldi Nord              Germany
4        Aldi SÃ¼d              Germany

         Served countries (besides the headquarters)  Map Number of locations  \
0  Australia, Canada, China, Cambodia, Denmark, H...  NaN               84500
1  Australia, Cambodia, China, Hong Kong, India, ...  NaN               20008
2  Belgium (as Albert Heijn and Delhaize), Czech ...  NaN                7659
3  Belgium, Denmark, France, Luxembourg, Netherla...  NaN                5241
4  Australia, Austria (as Hofer), China, Hungary,...  NaN                7178

  Number of employees
0              170000
1            560,000+
2              375000
3               72811
4              201361

In [33]:
multinacional.set_index('Company', inplace = True)

# Verificamos el cambio de Ã­ndice
multinacional.head(2)

,Headquarters,Served countries (besides the headquarters),Map,Number of locations,Number of employees
Company,,,,,
7-Eleven,Japan United States,"Australia, Canada, China, Cambodia, Denmark, H...",NaN,84500,170000
Aeon,Japan,"Australia, Cambodia, China, Hong Kong, India, ...",NaN,20008,"560,000+"

In [34]:
#Remover espacio entre company y las demÃ¡s columnas
from unicodedata import normalize
def remove_whitespace(x):
    """Funcion para normalizar datos con Unicode para luego quitar los espacios usando .replace().

    Argumentos de entrada: Nombre de columna o lista con nombres de columnas.
    Retorna: columna o columnas sin espacios en blanco
    """
    if isinstance(x, str):
        return normalize('NFKC', x).replace(' ', '')
    else:
        return x

In [35]:
# Guardamos en variable nombre de columnas a quitar espacios en blanco
numeric_cols = ['Headquarters',	'Served countries (besides the headquarters)',	'Map',	'Number of locations',	'Number of employees']

# Aplicar funciÃ³n remove_whitespace a columnas en variable y las reemplazamos en tabla
multinacional[numeric_cols] = multinacional[numeric_cols].apply(remove_whitespace)

# Verificamos si se quitaron los espacios en blanco
multinacional.head()

,Headquarters,Served countries (besides the headquarters),Map,Number of locations,Number of employees
Company,,,,,
7-Eleven,Japan United States,"Australia, Canada, China, Cambodia, Denmark, H...",NaN,84500,170000
Aeon,Japan,"Australia, Cambodia, China, Hong Kong, India, ...",NaN,20008,"560,000+"
Ahold Delhaize,Netherlands,"Belgium (as Albert Heijn and Delhaize), Czech ...",NaN,7659,375000
Aldi Nord,Germany,"Belgium, Denmark, France, Luxembourg, Netherla...",NaN,5241,72811
Aldi SÃ¼d,Germany,"Australia, Austria (as Hofer), China, Hungary,...",NaN,7178,201361

In [36]:
multinacional.dtypes

Headquarters                                    object
Served countries (besides the headquarters)     object
Map                                            float64
Number of locations                             object
Number of employees                             object
dtype: object

In [38]:
# Aseguramos que las columnas 'Number of locations' y 'Number of employees' estÃ©n en formato string
multinacional['Number of locations'] = multinacional['Number of locations'].astype(str)
multinacional['Number of employees'] = multinacional['Number of employees'].astype(str)

# Usamos una expresiÃ³n regular para extraer solo el primer nÃºmero en la columna 'Number of locations' y 'Number of employees'
multinacional['Number of locations'] = multinacional['Number of locations'].str.extract(r'(\d[\d,.]*)')
multinacional['Number of employees'] = multinacional['Number of employees'].str.extract(r'(\d[\d,.]*)')

# Convertimos los valores a tipo float
multinacional['Number of locations'] = multinacional['Number of locations'].str.replace(',', '').astype(float)
multinacional['Number of employees'] = multinacional['Number of employees'].str.replace(',', '').astype(float)

# Verificamos los cambios
print(multinacional[['Number of locations', 'Number of employees']].head())

                Number of locations  Number of employees
Company
7-Eleven                    84500.0             170000.0
Aeon                        20008.0             560000.0
Ahold Delhaize               7659.0             375000.0
Aldi Nord                    5241.0              72811.0
Aldi SÃ¼d                     7178.0             201361.0

In [39]:
# Luego convertimos los valores a tipo float
convert_dict = {
    'Headquarters': 'string',
    'Served countries (besides the headquarters)': 'string',
    'Number of locations': 'float',
    'Number of employees': 'float'
}

# Intentamos convertir los datos de nuevo
multinacional = multinacional.astype(convert_dict)

# Verificamos los tipos de datos
print(multinacional.dtypes)

Headquarters                                   string[python]
Served countries (besides the headquarters)    string[python]
Map                                                   float64
Number of locations                                   float64
Number of employees                                   float64
dtype: object

In [40]:
# Guarda Dataframe a archivo CSV
multinacional.to_csv('Pruebamultinacional1.csv')

# Leamos el archivo para verificar su creacion
pd.read_csv('Pruebamultinacional1.csv').head(3)

,Company,Headquarters,Served countries (besides the headquarters),Map,Number of locations,Number of employees
0,7-Eleven,Japan United States,"Australia, Canada, China, Cambodia, Denmark, H...",NaN,84500.0,170000.0
1,Aeon,Japan,"Australia, Cambodia, China, Hong Kong, India, ...",NaN,20008.0,560000.0
2,Ahold Delhaize,Netherlands,"Belgium (as Albert Heijn and Delhaize), Czech ...",NaN,7659.0,375000.0